[2015-01-30 23:39] jquadrin opened #1 "MySQL connection error"
[code]

[2015-01-31 14:34] liveforeverx commented on #1
Hi! That is because port is integer, not a string...(3306 is default)

The postgrex adaptor crashed with same error too.

But may be, there type checking for options needed? Or what would be best solution for this crash for you?

[2015-01-31 14:36] liveforeverx commented on #1
Hi! That is because port is integer, not a string...(3306 is default)

The postgrex adaptor crashed with same error too.

But may be, there type checking for options needed? Or what would be best solution for this crash for you?

[2015-01-31 15:04] liveforeverx commented on #1
Hi! That is because port is integer, not a string...(3306 is default)

The postgrex adaptor crashed with same error too.

But may be, there type checking for options needed? Or what would be best solution for this crash for you?

[2015-01-31 17:26] liveforeverx commented on #1
Hi! That is because port is integer, not a string...(3306 is default)

The postgrex adaptor crashed with same error too.

But may be, there type checking for options needed? Or what would be best solution for this crash for you?

[2015-01-31 17:26] liveforeverx commented on #1
Hi! That is because port is integer, not a string...(3306 is default)

The postgrex adaptor crashed with same error too.

But may be, there type checking for options needed? Or what would be best solution for this crash for you?

[2015-01-31 17:27] liveforeverx commented on #1
Sorry, because of worst internet connection, the message was sent many times.

[2015-01-31 17:41] jquadrin commented on #1
I fixed that but I still consistently get
[code]

[2015-02-02 13:58] jquadrin commented on #1
and this
[code]

[2015-02-03 00:55] jquadrin commented on #1
this works
[code]

[2015-02-03 09:38] liveforeverx commented on #1
Ok, close for now. If you want to have better errors for some use cases, please let me know.

[2015-02-03 09:38] #1 closed

[2015-02-04 23:15] jquadrin opened #2 "Mariaex.Result contains rows from previous queries"
[code]

[2015-02-09 13:45] liveforeverx commented on #2
Thanks!

[2015-02-09 13:45] #2 closed

[2015-02-09 13:46] liveforeverx commented on #2
Sorry for late merging.

[2015-02-10 13:36] josevalim opened #5 "Remove transaction code"
If the goal is to mimic Postgrex, we no longer have transactions in Postgrex itself, so we can remove from Mariaex. :)

[2015-02-10 13:37] josevalim opened #6 "Improve error message we can't connect to the database"
Today, if you pass bad credentials when starting the connection to the database, it fails with a case clause error on :tcp_closed. We should instead handle this case and return a proper error, saying we were unable to connect to the database.

[2015-02-10 14:25] liveforeverx commented on #5
Yes the goal is have most the same interface. Pushed on master.

[2015-02-10 14:25] #5 closed

[2015-02-10 19:41] josevalim commented on #6
Can we please reopen this one? All we are going to say in this case is that the tcp connection is closed, which is an improvement, but I would rather say we can't authenticate in the first place. Otherwise users will be clueless to why the connection was closed. :)

[2015-02-10 19:43] liveforeverx commented on #6
It was occasionally closed.

[2015-02-10 19:43] josevalim commented on #6
Thanks @jquadrin and @liveforeverx !

[2015-02-10 19:58] liveforeverx commented on #6
If nobody working on errors at the moment, I'll tackle this.

[2015-02-10 20:07] jquadrin commented on #6
@liveforeverx I just changed the message, feel free to close if you are working on it already

[2015-02-10 20:09] josevalim commented on #6
The current message is fine. TCP can be closed in other situations. We just need to explicitly check those for authentication errors. I think postgrex even has specific tests for this kind of stuff. :)

[2015-02-10 22:25] liveforeverx commented on #6
So, pushed to master the code, that tests false user/database and shows error. Next step to test the connection with password/false password, will do it somewhere tomorrow.

Try to find the test on postgrex, but didn't find, where it tested... @josevalim , see this line: https://github.com/liveforeverx/mariaex/blob/master/lib/mariaex/connection.ex#L64 sometimes it happens, that tcp_closed will got

[2015-02-12 17:20] laurocaetano opened #10 "Support parameters on queries"
Hi!

It doesn't seem that Mariaex supports parameters on queries such as documented here: https://github.com/liveforeverx/mariaex/blob/master/lib/mariaex/connection.ex#L112

[code]

Is there anything we can do to help fixing it? Thanks :)

[2015-02-12 17:53] jquadrin commented on #10
hmm looks like encoders need some work, I'm looking into this. @liveforeverx what needs to be done?

[2015-02-12 20:20] josevalim opened #11 "Fix timeout bug"
This client has the same bug as postgrex had which is relying on timeouts and returning :normal when it isn't really supposed to. I have fixed this in postgrex, I recommend going through those changes and apply them to mariaex too:

https://github.com/ericmj/postgrex/compare/6908762d3a7f4b6cd82ba5841f49f40ee10dde16...a01685682fb3ffd79496eb3ad009f94e8a23ef2f

:)

[2015-02-12 20:21] josevalim commented on #11
In short words, we have removed the timeout logic and we stopped returning :normal exits (except for the stop call).

[2015-02-12 21:43] liveforeverx commented on #6
So, tested with master(fix password authorization):

[code]

And, there are tests for all other cases(false user | database, impossible to connect to database(tcp error)) here: https://github.com/liveforeverx/mariaex/blob/master/test/start_test.exs

[2015-02-12 21:52] josevalim commented on #6
Beautiful!

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-02-12 21:54] ericmj commented on #11
Another place where we kept {:stop, :normal} was in the connect call because it is only called from the init function which will error anyway.

[2015-02-12 22:29] liveforeverx opened #12 "Support Decimal"
postgrex supports decimal, mariaex should support it too.

[2015-02-12 22:35] jquadrin opened #13 "Decode NULL"
mariaex does not decode NULL properly

[2015-02-12 22:45] liveforeverx commented on #10
Yes, it wasn't implemented yet and documentation was copied from postgrex.

I've started implementing it today, and will continue(and I think end implementation on Saturday/Sunday ). Do not exactly, what help can be needed. And, sorry for delay.

I'll write here, how I will implement it, and if somebody know better solution(or, I'm doing something wrong) for it, I would appreciate for helping/clar

[2015-02-13 19:54] laurocaetano commented on #10
@liveforeverx nice :)

Thanks for the fast feedback :heart:

[2015-02-13 22:25] laurocaetano opened #14 "Create table doesn't return %Mariaex.Result{}"
Hi!

When running `CREATE TABLE` it doesn't return the `{:ok, %Mariaex.Result{columns: [], command: :create, num_rows: 0, rows: []}}
` as stated in the README documentation.

[code]

Should be:

[code]

I think it should be a simple fix, right? I don't have time right now, but I can take a look on monday.

[2015-02-15 15:35] liveforeverx commented on #14
Change it, with difference to rows: nil instead of rows: [], because the postgrex seems to have nil instead of [].

[code]

Thanks, this should be closed with this commit.

[2015-02-15 15:35] #14 closed

[2015-02-15 15:37] liveforeverx commented on #13
Should be fixed with referenced commit. Test is added.

[2015-02-15 15:37] #13 closed

[2015-02-15 15:39] liveforeverx commented on #10
Initial work is done, from here it can be diveded. Basic support is added, not all types are supported at the moment. There some work on types needed.

[2015-02-15 16:36] laurocaetano commented on #14
thanks :)

[2015-02-17 11:07] josevalim opened #17 "Mariaex crashes when it can't encode a parameter"
Here is a test case:

[code]

I have tried fixing this but, since parameters are only encoded later, we need a way to abort the current query and tell the client an error occurred. I am aware this mechanism exists for Postgrex so we can look there for inspiration.

[2015-02-17 12:30] #11 closed

[2015-02-24 19:33] josevalim opened #23 "Cancel queries if caller is known to be dead"
If the MySQL protocol supports it, we can cancel long running queries if we know the caller died. This has been added to the TDS driver and will be available in the postgrex one too. Here is a reference implementation:

https://github.com/livehelpnow/tds/commit/19bc981364b6ffef39143a8f92c9392c835e6a3b

[2015-02-24 19:43] laurocaetano commented on #12
I'm working on this issue right now :)
I'll open a PR soon

[2015-02-25 17:21] josevalim opened #25 "Improve coder documentation"
The coder does a lot of code generation and it expects particular callbacks to be implemented but there is no documented in both the API and callbacks to be implemented, making it very hard to debug or change the coder messages.

[2015-02-25 17:53] #12 closed

[2015-02-25 18:17] josevalim commented on #23
Notice that the commit above is just part of it. We still need to continue reading the message before removing it from the queue or request its cancelation from the server if MySQL supports so.

[2015-02-25 18:27] #17 closed

[2015-03-01 18:48] laurocaetano commented on #10
I think it can be closed now since the basic support is done.
Thanks :)

[2015-03-01 18:48] #10 closed

[2015-03-02 22:46] liveforeverx commented on #6
I think, the issue can be closed for a long time.

[2015-03-02 22:46] #6 closed

[2015-03-03 06:12] josevalim commented on #6
:heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2015-03-03 20:32] laurocaetano opened #33 "Release Mariaex"
Hi Dmitry!

After some hard work we did I think it's time to release the first Mariaex version :)

Do you need help with this first release?

Thanks!

[2015-03-04 00:32] liveforeverx commented on #33
Hi! I'll do it tomorrow.

[2015-03-04 13:50] liveforeverx opened #34 "Support for load DATA LOCAL"
Should be done for one of future release, for speedup adding bulk data.

[2015-03-04 23:39] josevalim commented on #33
Done!

[2015-03-04 23:39] #33 closed

[2015-03-05 00:03] laurocaetano commented on #33
Thanks :)

[2015-03-05 05:24] hwinkel opened #36 "separate license file"
Can we Have the LICENSE in a separat File please

[2015-03-06 13:42] #36 closed

[2015-03-21 20:05] smpallen99 opened #39 "Cannot connect to mysql 5.1"
I get the following error when trying to connect to mysql 5.1.73

iex(2)> {:ok, p} = Mariaex.Connection.start_link(hostname: "127.0.0.1", username: "root", password: "********", database: "cebs_production")
** (exit) exited in: GenServer.call(#PID<0.118.0>, {:connect, [hostname: "127.0.0.1", username: "root", password: "********", database: "cebs_production"]}, 5000)
    ** (EXIT) an exception was

[2015-03-21 20:23] liveforeverx commented on #39
Hi! Thanks for reporting! Can you please record with tcpdump the first packet, that mysql sends or better with a debugger tool the call (for example using [exrun](https://github.com/liveforeverx/exrun)) the packet, that it tries to decode.

With exrun it would be:

[code]

Thanks beforehand.

[2015-03-21 20:49] liveforeverx commented on #39
I can reproduce it on my notebook with mysql 5.1.73, will check it.

[2015-03-21 21:11] liveforeverx commented on #39
Fixed on master, I'll release version 0.1.2 tomorrow.

[2015-03-21 22:44] smpallen99 opened #40 "Connect to mysql 5.1 password problem"
Thanks for the quick turnaround on  the last problem. Now I'm getting an error on password. I tried it both with providing password in the start_link and setting password in the env.

I get the following error when trying to connect to mysql 5.1.73

iex(1)> {:ok, p} = Mariaex.Connection.start_link(username: "root", database: "cebs_production")
** (exit) exited in: GenServer.call(#PID<0.113.0>, {:c

[2015-03-21 23:13] liveforeverx commented on #40
Thanks!

If mysql do not know auth plugins, it set mysql native password to empty string, fixed on master.

[2015-03-22 00:05] #40 closed

[2015-03-22 00:39] smpallen99 opened #41 "Insert incorrectly failing"
The following insert is failing. However, if I remove  the first field, it passes.

```elixir```
iex(7)> Conn.query p, "INSERT INTO messages (`address_position`, `created_at`, `from`, `message_type`, `messageable_id`, `messageable_type`, `queue_position`, `receiver_id`, `receiver_type`, `retry_attempt`, `sender_id`, `sender_type`, `status`, `to`, `topic`, `updated_at`) VALUES (?, ?, ?, ?, ?, ?, ?,

[2015-03-22 01:42] liveforeverx commented on #41
The error is coming directly from database, seems not to be an error on client.

After checking different [stackoverflow](http://stackoverflow.com/questions/6248983/mysql-column-cannot-be-null) threads for this mysql errors, it possibly, that your have triggers in database affecting this fields (address_position).

[code]

[2015-03-22 02:01] smpallen99 commented on #41
just checked. no triggers.

I'll get a wireshark trace in the morning and see if that gives any clues.

[2015-03-22 11:04] liveforeverx commented on #41
Yesterday, I can't reproduce it, because my MySQL doesn't allows to create [reserved words](http://dev.mysql.com/doc/refman/5.5/en/reserved-words.html), today I have reproduced it with fields from1, to1

[code]

starting to search.

[2015-03-22 12:17] liveforeverx commented on #41
Fixed on master

[2015-03-22 14:25] #41 closed

[2015-03-23 10:41] umatomba opened #42 "trying to insert 1Mio values"
Hello,
trying to insert 1Mio values using ecto Repo.insert, i got this after 16382 successfull operations

[code]

 /cc @laurocaetano

[2015-03-23 11:32] #42 closed

[2015-03-23 15:14] liveforeverx opened #43 "Caching of prepared statements for reusing of repeated statements"
For better performance, it make sense to cache queries on client side. The implementation can cache query(use configurable size how big cache can be), and after it see the known query it can reuse it, without allocating and deallocating the query. All new queries, not known queries, which are reach the cache size, will deallocate old used queries in cache.

[2015-03-23 16:22] 2kodes commented on #40
hi

I seem to be getting this error when connecting to MySQL 5.5.42. I currently have a phoenix app with ecto and mariaex as the adapter.It was working on mariaex 0.1.2 . however after i upgraded to version 0.1.3 today i get the following error

[error] GenServer #PID<0.2505.0> terminating
Last message: {:tcp, #Port<0.24245>, <<78, 0, 0, 0, 10, 53, 46, 53, 46, 52, 50, 45, 108, 111, 103, 0, 129, 1,

[2015-03-23 16:23] 2kodes commented on #40
ps: sorry for the long stacktrace

[2015-03-23 16:45] umatomba commented on #39
after fix in https://github.com/xerions/mariaex/commit/823856881cd585fb180d0395ff7e665d42624134
the password/3 function don't make binary matching correclty:

17:24:52.236 [error] GenServer #PID<0.225.0> terminating
Last message: {:tcp, #Port<0.14049>, <<109, 0, 0, 0, 10, 53, 46, 53, 46, 53, 45, 49, 48, 46, 48, 46, 49, 54, 45, 77, 97, 114, 105, 97, 68, 66, 45, 49, 126, 112, 114, 101, 99, 105, 115,

[2015-03-23 17:00] liveforeverx commented on #39
Due to [bug](http://bugs.mysql.com/bug.php?id=59453), we should support both.

[2015-03-23 17:27] liveforeverx opened #44 "tests are failing with elixir master"
Because of Mix.Shell.Cmd/2 changed to Mix.Shell.Cmd/3, the tests should be changed to something, what elixir 1.0.0 and 1.1.0 independent.

[2015-03-23 18:15] liveforeverx commented on #40
Thanks, it is related to #39. It is a [regression](https://github.com/xerions/mariaex/commit/823856881cd585fb180d0395ff7e665d42624134). We are fixing it and make regression tests, and release new version today. Sorry for inconvenience.

[2015-03-23 18:22] 2kodes commented on #40
No problem. Thanks for the quick reply...

[2015-03-23 21:34] liveforeverx commented on #39
Closed on master

[2015-03-23 21:34] #39 closed

[2015-03-23 21:49] liveforeverx commented on #40
@2kodes It released, should working now.

[2015-03-24 10:08] umatomba commented on #44
backward compatibility with cmd/2  now in elixir master https://github.com/elixir-lang/elixir/commit/c9f84ae41e5575cb2d6c07eaa658e10477fe245e

[2015-03-24 10:35] liveforeverx commented on #44
Thanks!

[2015-03-24 10:35] #44 closed

[2015-03-24 11:45] 2kodes commented on #40
hi,
Just to confirm its working now with the latest version 0.1.4. Thanks a lot. :+1:

[2015-03-26 01:59] defp opened #46 "How to insert multiple rows at once?"

[2015-03-26 10:19] liveforeverx commented on #46
There is no possibility at the moment, I'll add your issue to milestone 0.2.0. ( There is other issue with goal close to yours, #34 ).

[2015-04-15 14:58] tobz opened #47 "Better error handling for improper arguments."
As an example, if you specify `host` instead of `hostname` when configuration a connection, you'll most likely get `econnrefused`.  You'll see your `host` value is totally right, only then to realize, sifting through the source code/documentation, that it should have been `hostname` instead.

This particular error would have made much more sense if the error spit out the whole connection string it

[2015-04-16 11:51] liveforeverx commented on #47
Thanks, for feedback. We will improve error message.

[2015-04-29 00:41] stikmanw opened #48 "Starting with \n will cause query to fail"
mysql_conn |> Mariaex.Connection.query "
SELECT 1
"

** (EXIT from #PID<0.51.0>) an exception was raised:
    ** (CaseClauseError) no case clause matching: :query_send
        lib/mariaex/protocol.ex:55: Mariaex.Protocol.dispatch/2
        lib/mariaex/connection.ex:215: Mariaex.Connection.process/2
        lib/mariaex/connection.ex:192: Mariaex.Connection.handle_info/2
        (stdlib) gen_server.

[2015-04-29 12:37] liveforeverx commented on #48
Thanks for report, I'll check it today.

[2015-04-29 13:03] #48 closed

[2015-05-07 08:13] aposto opened #49 "How to call stored procedure?"
Is not supported call stored procedure?

[2015-05-08 08:29] liveforeverx commented on #49
I'll check this weekend, if it supported or need some extra on client.

[2015-05-25 10:18] mguillemot commented on #49
+1 here

The connection process dies when I try to ```CALL something()``` with the following error:

[code]

[2015-05-27 21:26] liveforeverx commented on #49
Hi, sorry for late answer.

I've pushed to branch stored_procs, and tested with simple stored procedure.
Can somebody check the branch, it it works for all your cases. If it so, I'll push it to master.

[2015-05-28 06:20] liveforeverx opened #52 "Support of multi result statements"
Stored procedure can have multi result statements.

Related to #49.

[2015-05-28 19:16] liveforeverx commented on #49
I've pushed implementation on master. Do not familiar with stored procedures, as we doesn't use it at all, if you can provide some test case for #52 would be very appropriate, I see it in MySQL documentation, but would like to have a test case for it.

[2015-05-29 01:54] mguillemot commented on #49
Thank you for the good work! Unfortunately I'm without computer access this week-end, but I'll check the feature and write some tests at the start of next week.

[2015-05-29 05:15] liveforeverx commented on #49
@mguillemot, thanks! I've tested myself and have test cases(it was easier, as I thought), I need rethink, if support multiresult statements feature make sense in the light of trying to have most only binary protocol. I think, that multistatement shouldn't be supported.

But, multiple results, what is out of scope at the moment. I will implement it on weekend.

[2015-05-30 01:19] aposto commented on #49
Thanks.
I think it seems a lot more developer not often using stored procedures.
I was able to using many stored-procedure.

[2015-06-01 17:10] tjheeta opened #53 "Performance"
I was testing out Mariaex and it seems it is getting hung somewhere.

Debugging output is here:
http://tjheeta.github.io/2015/05/30/profiling-debugging-elixir-mariaex.html

[2015-06-04 04:10] chvanikoff opened #55 "Support more field types"
Currently Mariaex doesn't support following field types:
- smallint
- mediumint
- year

[2015-06-04 05:05] chvanikoff commented on #55
Will implement year field also soon

[2015-06-04 05:48] #55 closed

[2015-06-04 07:08] chvanikoff opened #57 "SELECT\n in query causes Mariaex to fail"
** (exit) exited in: GenServer.call(#PID<0.269.0>, {:query, "SELECT\n  a, b\nFROM\n  test\nWHERE\n  id = 1", [], [timeout: 5000]}, 5000)
         ** (EXIT) an exception was raised:
             ** (CaseClauseError) no case clause matching: :query_send
                 (mariaex) lib/mariaex/protocol.ex:55: Mariaex.Protocol.dispatch/2
                 (mariaex) lib/mariaex/connection.ex:219: Mariaex

[2015-06-04 08:32] #57 closed

[2015-06-10 23:31] #43 closed

[2015-06-10 23:31] #53 closed

[2015-06-20 09:22] josevalim opened #61 "Race conditions on the prepare statement cache"
I am not sure what is causing them yet but this is a common failure in our builds since we have migrated to 0.2.1: https://travis-ci.org/elixir-lang/ecto/jobs/67628765

One possible root cause can be transactions. Because some tests run inside transactions, if the prepare statement cache is not meant to outlive a transaction, they will be discarded when the transaction rollback or commits. But I m

[2015-06-20 10:01] liveforeverx commented on #61
Thanks for reporting, @josevalim. I'm starting to investigate it.

[2015-06-20 11:05] liveforeverx commented on #61
It seems not to be an transactions.

I can reproduce it, have an traced cache add/delete sequences for that case. I'm very close to find the reason. Be back in 1 or 2 hours.

[2015-06-20 12:58] liveforeverx commented on #61
Released `v0.2.2`,  which fixes it entirely.

[2015-06-20 21:39] #61 closed

[2015-06-23 17:50] nathanjohnson320 opened #62 "Error running mariaex query on date column"
I am using ecto with the mariaex adapter and when I run this query
[code]

I get the following error:
[code]

The column is a MySQL date type set to be not null with a default value of 0000-00-00. Somehow the packet is getting a value of <<0>> I'm just not sure how.

[2015-06-23 18:06] nathanjohnson320 opened #63 "Mariaex incorrectly selects boolean type for TINYINT(4)"
I have a column of TINYINT(4) with default value of 10 and when I select this column with mariaex it throws the error

[code]

Because in messages.ex it's going to the below line but it should be an integer not a :boolean
[code]

[2015-06-23 18:48] liveforeverx commented on #62
Thanks for reporting, it is because MySQL binary protocol for 0000-00-00 sends simple 0. Fixed on master.

[2015-06-23 18:49] #62 closed

[2015-06-23 18:55] liveforeverx commented on #63
Yes, it is because MySQL doesn't have boolean type. And, INT tiny represents it, but there is no way to get from MySQL tyne(1) or tiny(10) it is (checking).

[2015-06-23 18:58] liveforeverx commented on #63
If you will try to save to tiny INT the value 0 or 1, than it is impossible by reading to get right representation, if it is boolean(true, false) or int(0, 1). Is it possible to avoid tiny INTs in your setup?

[2015-06-23 19:05] nathanjohnson320 commented on #63
No I'm running a model generation script on a legacy database where the TINY ints are already setup. Is there no way to check the NUMERIC_PRECISION column in information schema to grab the size and set it as an integer/boolean based on that?

[2015-06-23 19:08] nathanjohnson320 commented on #63
Actually I guess you can't because it's always 3 for tinyints.

[2015-06-23 19:09] liveforeverx commented on #63
To: @laurocaetano @josevalim
May be it make sense to decode tiny int always as int and cast 0, 1 to boolean on ecto side?

[2015-06-23 19:30] josevalim commented on #63
@liveforeverx yes, we could do that. Once you change the behaviour in mariaex and release new version, please open up an issue in Ecto so we can fix it. Also, please release it as 0.3. :)

[2015-06-23 20:21] liveforeverx commented on #63
@josevalim , off course, it is backwards incompatible change.

[2015-06-23 20:39] #63 closed

[2015-06-26 13:59] kurayama opened #64 "Error parsing 00:00 time"
Minimal failing example:
Ecto.Adapters.SQL.query Repo, "select TIME '00:00'", []

[2015-06-26 18:49] #64 closed

[2015-06-29 16:58] chvanikoff opened #66 "Support Unix sockets"
Currently Mariaex can communicate to MySQL via TCP sockets only. I think Unix sockets support should be added as well because having MySQL and app on the same server is quite a common scenario and in such case communication via Unix socket is preferred.

[2015-06-29 19:14] chvanikoff commented on #66
Quick research have shown that there is no simple way to deal with Unix sockets in Erlang (did I miss something?), the most popular library is https://github.com/msantos/gen_unix which is based on https://github.com/msantos/procket and both are not in Hex. I think we could give it a try and in case it will work well for Mariaex, suggest adding these libraries to Hex.

[2015-06-30 19:40] liveforeverx commented on #66
Hi! Good idea, we need definitely support it. That is a reason, why transport is abstracted away from other code.

Another option is our gen_socket fork: https://github.com/travelping/gen_socket/tree/driver-poll

For some reasons it should be better (for example it doesn't need root/setuid for using it).

[2015-07-01 19:40] liveforeverx commented on #66
Checked our gen_socket it is not platform independent, seems it make for linux only....

[2015-07-02 01:25] jonhkr opened #67 "Error executing show full processlist"
[code]

Should this be happening?

[2015-07-02 01:52] liveforeverx commented on #67
Thanks for reporting! Yes and no, need update list of supported query(like show) commands for prepared statements. I've added `show` now on master, and will check, if there may be other `query` commands, which need to be supported.

[2015-07-03 19:29] jonhkr opened #68 "Is Mariaex leaving prepared statements open?"
I've many queries with Mariaex and got this error from mysql
[code]

With a bit of research if found that this may be because something is leaving prepared statements open, is that Mariaex?

[2015-07-04 08:34] liveforeverx commented on #68
Mariaex caches prepared statements, because on some versions of MySQL and MariaDB too, the creating of prepared statements takes 40ms, and on the load it lead to there big performance degradation (mostly 10 times less requests, as with caching).

You need to specify `:cache_size` in you connection. Mariaex will have max open prepared statements `poolsize * cache_size`. That is, how many open prepa

[2015-07-04 08:42] #68 closed

[2015-07-04 12:33] jonhkr commented on #68
Cool, thank you for clarifying.

[2015-07-09 12:00] liveforeverx commented on #66
Hey! I found this: https://github.com/tonyrog/afunix

I'll check if, it works.

[2015-07-09 12:02] ericmj commented on #66
If you do this please keep it as an optional dependency, we don't want NIFs in ecto.

[2015-07-09 12:16] liveforeverx commented on #66
@ericmj, ok.

[2015-07-09 13:17] chvanikoff commented on #66
There's no way to deal with UDS w/out NIFs currently. https://github.com/erlang/otp/pull/612
Probably we can add "only: [:dev, :test]" for this dependency because dev/test envs are the most popular cases for running DB server and the app on the same host
@liveforeverx did u compare afunix against gen_unix (procket)?

[2015-07-09 13:29] ericmj commented on #66
The `:only` option inly works for the local project, dependents will never get those dependencies. You need to set `optional: true`.

[2015-07-13 21:59] josevalim opened #69 "Revert client side decoding and release v0.4.2"
After some benchmarks, client side decoding is slower, from 2% on 10 entries to more than 12% when returning 100 entries since more copying is required. We should revert the client side decoding changes.

[2015-07-14 22:18] liveforeverx commented on #69
Reverted and released now.

[2015-07-14 22:18] #69 closed

[2015-07-15 14:19] liveforeverx opened #70 "Use connection library"
https://hex.pm/packages/connection

[2015-08-18 04:47] shadabahmed opened #72 "Support for "secure_auth: false""
Connection cannot be established, when secure auth it turned off at the server. It fails with this error:

[code]

I checked on the server for the secure auth setting:

[code]

In this case even `mysql` client cli needs `--skip-secure-auth` without which it gets the following error:
[code]

Can we add the support for this ?

Found reference on how to fix this here - https://www.safaribooksonline.c

[2015-08-18 07:10] liveforeverx commented on #72
It something not related to secure_auth, as I have the same settings:

[code]

Can you provide MySQL version and settings, which causes the following error?

The problem, which you see is the next message, which MySQL sends is EOF packet, which doesn't have flags.

Which version of Mysql do you want to use??

[2015-08-18 10:34] shadabahmed commented on #72
My version string:
[code]

There are some changes related to `secure_auth` being default in versions [5.6.7+](http://dev.mysql.com/doc/refman/5.6/en/mysql-command-options.html#option_mysql_secure-auth) but this error is more related to handshake implementation.

The packet is not `eof` packet. As mentioned in the *Auth Handshake* reference [here](https://www.safaribooksonline.com/library/view/unde

[2015-08-18 10:38] liveforeverx commented on #72
Thanks for clarification, I'll try to install new version of MySQL and test it.

[2015-08-18 10:40] liveforeverx commented on #72
Would be nice, if it possible to provide .travis configuration for testing this case, thats would help a much.

[2015-08-18 10:43] shadabahmed commented on #72
i will try to add .. i think we can replicate it by setting user password using the `OLD_PASSWORD()` mysql fn . .and then try to authenticate

[2015-08-18 11:00] shadabahmed commented on #72
This is how replicated on my local mysql:

* Created user:
[code]
* Tried authenticating as the new user:
[code]
* Change user password plugin and hash:
[code]
* Tried authenticating again:
[code]

[code]

[2015-08-20 10:39] liveforeverx commented on #72
Many thanks for helping reproduce it. I'll definitely test it this weekend.

[2015-09-09 06:39] shadabahmed commented on #72
were you able to work on this bug ?

[2015-09-16 23:05] electic opened #73 "Example of iteration"
Hi,

A lot of people are new to Elixir. How do you iterate over the list and access column data per row? Is there an example of it?

[2015-09-23 15:39] liveforeverx commented on #72
@shadabahmed - sorry, I was away for a more weeks, I wasn't able to work, but will work this weekend. Sorry for such long time.

[2015-10-16 20:32] gjaldon opened #74 "Support async queries"
refs: https://github.com/elixir-lang/ecto/issues/881

We'll need async queries in MariaEx so we can do parallel preloads in Ecto. I'll submit a PR on this within the next few days. Hope that's okay @liveforeverx :)

[2015-10-17 07:17] liveforeverx commented on #74
:+1: great

[2015-10-19 08:41] #74 closed

[2015-10-19 15:54] olgeni opened #76 "Tag for 0.5.0"
Hi, can you tag 0.5.0? It is quite useful to get versioned tarballs :)

[2015-10-19 16:18] liveforeverx commented on #76
Sorry, forgot.

Please, note, that 0.5.0 is depending from elixir 1.1, I'll plan get back support for elixir 1.0 in 0.5.1

[2015-10-19 16:18] #76 closed

[2015-10-19 22:45] olgeni commented on #76
Thanks! :+1:

[2015-11-17 20:41] imsearchdev opened #78 "ilike does not work"
## Error

Here is the error message:

[code]

## Query

I have a very simple ilike query to isolate this:

[code]

## Versions

From mix.lock

[code]

The database:

[code]

[2015-11-18 08:48] liveforeverx commented on #78
I'll check it.

[2015-11-18 09:07] liveforeverx commented on #78
ilike it is not supported by MySQL.

According to PostgreSQL documentation it is a PostgreSQL extenstion.

[code]

I think, this should be resolved on ecto side @josevalim @ericmj ? What do you think about? Should we `ilike` transform to LOWER(string) like LOWER(pattern) or add something to documentation?

[2015-11-18 16:23] wangbus opened #79 "SSL with cert"
Mariaex.Connection.start_link(hostname: "mysql.asdf.com", port: 3306, username: "test", password: "test", database: "testdb", timeout: 20000, keepalive_timeout: 20000, ssl: true, ssl_opts: [cacertfile: "rds-combined-ca-bundle.pem"])'

Seems to default to non-ssl. Is there a problem with the way I'm using this? The documentation has absolutely nothing about SSL and Ecto (that uses mariaex for MySQL

[2015-11-19 03:41] imsearchdev commented on #78
Documentation or a meaningful runtime exception would be fine alternatives here if this isn't easy to implement. We had done the manual transform to lower(?) like lower(?) before opening this issue so this isn't a blocker, but either supporting ilike or a more meaningful error message would be great.

Thanks.

[2015-11-19 13:40] ericmj commented on #78
It could probably be handled in the mysql adapter in ecto by running `LOWER` like you suggested.

[2015-11-22 20:43] liveforeverx commented on #79
Hi! @wangbus it is not implemented yet. I can tackle this somewhere in middle of next week.

[2015-11-22 20:57] liveforeverx commented on #49
I'll close, as it working.

[2015-11-22 20:57] #49 closed

[2015-11-22 21:09] liveforeverx opened #80 "Handle socket and decode data on the client"
related to https://github.com/elixir-lang/ecto/issues/1094

[2015-11-24 14:49] wangbus commented on #79
Hi, I'm working on this at the moment. Do you have some time to chat today? My nick on the elixir-lang Slack is "wangbus."

[2015-11-27 20:00] josevalim commented on #80
@fishcakez created a library that will make this much easier: https://github.com/fishcakez/db_connection

[2015-12-01 12:33] leiyangyou opened #83 "Anyone else had issue with mysql 5.7.9?"
DDLs would still execute, but all select statements would timeout

[2015-12-01 16:17] ericmj commented on #83
Have you confirmed that it only happens with mysql 5.7.9? Have you tried other versions and they work?

[2015-12-01 23:36] liveforeverx commented on #83
I've checked last 5.6.X version, it works, on 5.7.X there all close to all mariaex tests failing(going to check MySQL changelog).

[2015-12-02 00:11] liveforeverx commented on #83
The reason, which I see, is, that MySQL 5.7.9 doesn't send EOF on stmt_prepare_ok after the last column definitions. As the stmt_prepare_ok sends the number of parameters...

Probably it can be a bug or optimisation (to not send last EOF).

I'll try to find it out.

[2015-12-06 07:29] leiyangyou opened #84 "Supporting replace statement"
At the moment, a replace statement with parameter is reported as unsupported query

[2015-12-08 20:47] jordan0day opened #85 "Handling results from joins & identical column names"
If I perform a query like
[code]

I'll get a `Mariaex.Result` with a `columns` field of: `["id", "name", "id", "name"]` and `rows` of `[[1, "Joe", 1, "Fluffy"], [1, "Joe", 2, "Fido"]].

This becomes really hard to deal with when the queries are more like
[code]
When the query may return a different number of columns in the future.

Is there any way to have entries in the `columns` field include th

[2015-12-08 21:20] liveforeverx commented on #83
So, information, the protocol is changed somewhere in 5.7.5, I have done working version last week, where only 4 tests are failing now.

I need to do 2 steps:
1) Experiment little bit and find a best way to support protocol before 5.7.5 changes.
2) 4 failing tests, something changed in some types handling with new version.

[2015-12-08 21:22] liveforeverx commented on #84
Thanks for reporting! Will do after #83

[2015-12-08 23:54] liveforeverx commented on #83
Ok, I've implemented the version switch and documented problem, and will release new version soon.

[2015-12-08 23:57] liveforeverx opened #86 "2 failing tests on MySQL 5.7.9"
There are 2 failing tests:

[code]

[2015-12-08 23:58] liveforeverx commented on #83
Version 0.6.1 released with support for MySQL 5.7.

[2015-12-08 23:58] #83 closed

[2015-12-09 00:03] liveforeverx commented on #83
MySQL have done the backwards incompatible changes in protocol, which I haven't found yet, how to
integrate without a explicit check on MySQL 5.7, because there is no change in protocol versions.

Documented here: https://github.com/xerions/mariaex/blob/master/lib/mariaex/protocol.ex#L105-L112

[2015-12-09 00:16] #84 closed

[2015-12-09 08:08] #67 closed

[2016-01-24 11:32] paulgithub opened #89 "BIT(1) type fails on read"
When reading a boolean value from the database which is represented as a BIT(1) in the MySQL server (version 5.5.29) The following error is displayed:

** (FunctionClauseError) no function clause matching in Mariaex.Messages.handle_decode_bin_rows/2
     stacktrace:
       (mariaex) lib/mariaex/messages.ex:292: Mariaex.Messages.handle_decode_bin_rows({:bit, :field_type_bit}, <<1, 0, 2, 45, 49, 2,

[2016-01-27 14:11] Burmudar opened #90 "Stored Procedure error - no function clause matching in Mariaex.Protocol.dispatch/2"
I get the following error when making a stored procedure call `CALL boabab.sp_get_invoice_customer_list(2016,1)`
`
** (FunctionClauseError) no function clause matching in Mariaex.Protocol.dispatch/2
    (mariaex) lib/mariaex/protocol.ex:100: Mariaex.Protocol.dispatch({:packet, 43, 6, {:ok_resp, 0, 0, 167, 2, 0, <<0, 0, 0, 32, 50, 52, 47, 55, 32, 83, 101, 99, 117, 114, 105, 116, 121, 32, 83, 101, 1

[2016-01-31 17:32] liveforeverx commented on #89
Thanks!

I'll include a fix in upcoming version, on which I'm working now.

[2016-01-31 17:34] liveforeverx commented on #90
Hi! Can you provide minimal reproducible example, which stored procedure do you use?
Would be nice to build some tests with stored procedures, as I'm doing refactoring for upcoming ecto and may broke some functionality related to stored procedures. Would be really nice to have some tests. Thanks in before!

[2016-01-31 19:08] Burmudar commented on #90
Hey! Sure thing. I'll start tomorrow. I have been trying to trace through the code to see where the issue occurs. I'll be happy to share my findings, don't know if it will be constructive.

I am keen to contribute so any pointers would be helpful :)

[2016-02-01 08:11] paulgithub commented on #89
Thanks

[2016-02-02 13:32] Burmudar commented on #90
See below for the stored procedure which recreates the issue.

Interestingly enough, the same error occurs if you return multiple result sets from the stored procedure.
As far as I can tell in the test stored procedure nothing except the last select statement returns results.

_Note: I tried as far as possible recreating what our internal procedure is doing_

[code]

[2016-02-22 09:30] paulgithub commented on #89
Hi,

Here is a simple update which fixes my issue where using BIT(1) in the database for booleans, it possibly is not the correct fix for all BIT types:

  defp handle_decode_bin_rows({:bit, :field_type_bit}, packet),             do: parse_bit_packet(packet)

  defp parse_bit_packet(packet) do
    << length, raw_value :: size(length)-little-binary, rest :: binary >> = packet
    case raw_value do

[2016-02-22 11:39] josevalim opened #95 "Do a new Mariaex release"
The version currently released has the following contents on its coder file:

    res |> Macro.to_string() |> IO.puts

This means we get a lot of debug info while compiling it. Can we have a new version with the IO.puts call? :) Thank you!

[2016-02-22 13:21] #95 closed

[2016-02-22 13:23] liveforeverx commented on #95
Done. Sorry for that.

[2016-02-22 13:42] Wijnand opened #96 "Consumed memory not cleanup rigth after usage"
There is a really easy reproducable memory leak in mariaex.
I have a table with 3000 rows, only a simple string column.
   {:ok, _} = Mariaex.Connection.query(pid, "SELECT name FROM test")
Each time I run this line memory jumps with around 60Mb

[2016-02-22 13:55] ericmj commented on #96
Is the memory ever reclaimed? What do you do with the names after they are fetched?

Try calling `:binary.copy/1` on every name returned and see if that fixes the memory issue.

[2016-02-22 13:56] Wijnand commented on #96
It is never reclaimed, in the example given I do nothing with the result.

[2016-02-22 14:04] Wijnand commented on #96
Example code: https://github.com/Wijnand/mariaex_leak

[2016-02-22 14:43] ericmj commented on #96
Initially I thought it was related to this issue https://github.com/ericmj/postgrex/issues/167 but since you never hold a reference to the returned binaries you can't obviously copy them.

I think what's going in here is that mariaex is doing something inefficient binaries like concatenating them all before decoding. I believe @maxim also saw memory usage that was way more than he was fetching fro

[2016-02-22 15:56] stephankaag commented on #96
Reproducible. This is not good.

[2016-02-22 16:40] maxim commented on #96
@Wijnand thanks for the sample code, was gonna throw it together too. As a temporary workaround, doing `:binary.copy` on the string will likely clear up the RAM (it did in my case).

[2016-02-22 16:43] ericmj commented on #96
Right, if you run it in your shell you are going to store references to the binaries and in that case `:binary.copy/1` will help. But if the shell has already stored the values (for the `v/1` helper) then you probably have to respawn the shell to clear the references.

[2016-02-22 18:41] Wijnand commented on #96
But this test case has nothing to do with the shell right? Mariaex is leaking and should be fixed.

[2016-02-22 18:44] ericmj commented on #96
Yes, I am strictly talking about the workaround. And mariaex isn't strictly leaking, you are holding onto the binaries so they can't be garbage collected. It's probably being inefficient with the binaries though.

[2016-02-22 19:14] Wijnand commented on #96
Doing the exact same thing with mysqlex does not leak.
And  how am I holding onto the binaries in the test case I provided?

[2016-02-22 20:15] liveforeverx commented on #96
It is not memory-leak, I've run it 10000 times and memory doesn't grow constantly.

[2016-02-22 20:26] liveforeverx commented on #96
I've renamed it to something, what describes the problem more, first part is fixed now on master. It has hold references to the last query, now it doesn't hold, and by explicit :erlang.garbage_collect the memory is cleaned, that means that there are no more references to binary result.

[2016-02-22 21:12] liveforeverx commented on #96
But, it has definitely to have something with coping of binaries between 2 processes, because the vm handles Refc binaries different, if it referenced from one process or from different places (like ets/send per messages).

@maxim, can you test please, the `db_connection` branch, if the memory is overconsumed here too without binary copy??

[2016-02-22 21:26] liveforeverx commented on #96
So, I've released `v0.6.4`, which doesn't hold references to last query, due to the fact, that mariaex works in active mode and not in passive, there is more manipulation and another kind of manipulation, which may be less efficient(for example save list of rows in a map state, where it can be avoided in passive mode), but I've tested with upcoming version, which use db_connection, it doesn't have

[2016-02-23 05:31] Wijnand commented on #96
Ok, thank you very much! I will use the 0.6.4 version for now and switch to the upcoming version as soon as feasible.

[2016-02-23 08:00] Wijnand commented on #96
0.6.4 does not fix the issue by the way, still reproducible in my silly test app that discards the results immediately.

[2016-02-23 14:11] liveforeverx commented on #96
@Wijnand yes, because beam VM garbage collect Refc binaries lazy in some circumstances. In case, where it discarded immediately, it doesn't means, that VM garbage collect it immediately too. If you will do afterward (force garbage collection):

[code]

The memory is reclaimed. It happens, because connection have binaries and sends it to calling process, and both processes have references to result

[2016-02-23 16:14] Wijnand commented on #96
I can confirm that, the db_connection branch does not have this issue.

[2016-03-07 15:31] liveforeverx commented on #89
Add simple decoding of bits on mariaex side and to the work for ecto 2.0, should work out of the box in next ecto.

[2016-03-07 15:37] liveforeverx commented on #96
As it is fixed on master now, close it.

[2016-03-07 15:37] #96 closed

[2016-03-07 18:05] ericmj commented on #96
I think you should why so much large binaries are generated. Using 60mb of memory does not make sense. You can try compiling with bin_opt_info.

[2016-03-07 18:43] liveforeverx commented on #96
@ericmj: In master version, there is no more large binaries generated, but I can investigate previous version, why it was so.

[2016-03-07 19:00] liveforeverx commented on #96
@ericmj : Started to analyse, try to compare 2 versions, which consume 60MB and on master, which consumes 1000 times less on master, nothing changes with warnings.

[2016-03-07 19:01] liveforeverx commented on #96
It doesn't point to anything, but I can optimize code according to warnings and check, if it changes the performance.

[2016-03-07 22:53] liveforeverx commented on #96
@ericmj I found the problem in old version

[2016-03-07 23:11] liveforeverx commented on #96
Place, where it has copied the binary: https://github.com/xerions/mariaex/blob/v0.6/lib/mariaex/connection.ex#L284

Version v0.6.5 released.

[2016-03-09 21:47] jordan0day opened #98 "Integer packets are always parsed as signed"
Per [https://github.com/xerions/mariaex/blob/e8dab753a9853eac0c654f4840129012094ca368/lib/mariaex/query.ex#L190](url)

[code]

Integer packets are parsed as signed integers -- this bit me today handling a BigInt value > 9223372036854775807.

I'll try to look into this and see if there's a (relatively) quick fix when I get some free time, but I thought I should point this out in case someone else h

[2016-03-11 11:41] paulgithub opened #99 "Connection Failure with new Phoenix Project"
The following error can be easily reproduced by creating a new Phoenix project:

$ mix phoenix.new tmp_app --database mysql

Then adding a new model with tests followed by migration, etc. and then running tests:

$ mix test test/models

The mix.exs uses the defaults produced by the mix phoenix.new command above. The only changes are to the config/test.exs file for the database connection, updated

[2016-03-12 12:53] cbarratt commented on #99
I'm currently receiving the same error, just upgraded from 0.6 to 0.7

[2016-03-14 13:25] liveforeverx commented on #89
Fix merged in ecto and mariaex for the future version.

[2016-03-14 13:25] #89 closed

[2016-03-14 14:53] somlor commented on #99
Same issue. Downgrading to `0.6.5` fixed this. Let me know if you need any more information or help of any kind.

[2016-03-15 12:46] reneklacan commented on #99
Same issue here, downgrading helped

[2016-03-21 12:07] uzleepito opened #101 "Mariaex timeout in Phoenix causes failed request"
I have a Phoenix app that gives an "Internal server error" after it is left alone for many hours, and the MYSQL connection to the server times out.  Further request are working properly after the failing one triggers some supervisor interventions.  I believe this is not the proper behavior, and that first request should be served without error and db reconnection should happen seamlessly.

[2016-03-21 12:45] #98 closed

[2016-03-21 12:45] liveforeverx commented on #101
Hi! Which mariaex version?

[2016-03-21 12:47] liveforeverx commented on #99
Thanks for reporting, will check it.

[2016-03-21 12:47] uzleepito commented on #101
mariaex: 0.7.0

phoenix: 1.1.4

phoenix_ecto: 2.0.1

poolboy: 1.5.1

[2016-03-21 12:48] liveforeverx commented on #101
@uzleepito Thanks!

[2016-03-24 14:28] uzleepito commented on #101
It seems that postgrex does not have the same problem.
Here's what I see on the console when it happens with mariaex:

[code]

[2016-04-01 09:55] tdejager opened #103 "Phoenix production mariaex losing connection"
Hi,

I have a problem with a phoenix server running with the mix environment in production mode. The used MariaEx version os 0.5.0 as required by Ecto. The environment is an ubuntu 14.04 server running on AWS Ec2.

Sometimes the MariaEx GenServer seems to stop, and immediately restarts afterwards. This also happens when no requests are made to the database. It happens every hour or so.

** (stop)

[2016-04-03 10:07] #85 closed

[2016-04-03 20:52] liveforeverx commented on #103
Hi!

Can you try to configure adapter (more documentation on `Mariaex.Connection.start_link`) with:

[code]

Please check, if it helps.

[2016-04-07 09:19] tdejager commented on #103
After adding this option, and monitoring the process for a while. The error seems to be gone, maybe add this to the documentation, if someone is having problems?

Thanks!

[2016-04-08 02:10] Rakoth opened #105 "Incorrect behaviour for queries, started with spaces"
[code]
failing with `** (ArgumentError) unsupported parameterized query`

[2016-04-08 08:54] liveforeverx commented on #105
Hi!

Thats true and it is expected behaviour, you should sanitize input in your code before using it as query, because we wanted to avoided string manipulation, which is not needed in most cases.

[2016-04-08 08:54] liveforeverx commented on #103
Thanks for feedback!

[2016-04-08 08:54] #103 closed

[2016-04-08 09:46] #105 closed

[2016-04-09 10:54] liveforeverx commented on #101
Hi! Please retest with version: 0.7.1

[2016-04-09 10:59] liveforeverx commented on #99
Fixed with `0.7.1`

[2016-04-09 10:59] #99 closed

[2016-04-09 11:00] liveforeverx commented on #80
Implemented in `0.7`

[2016-04-09 11:00] #80 closed

[2016-04-09 11:00] #70 closed

[2016-04-09 11:07] reneklacan commented on #99
👏

[2016-04-09 21:31] matteosister commented on #99
I still have this same problem, even with version 0.7.1 :disappointed:

[2016-04-10 17:32] liveforeverx commented on #99
Hi!

@matteosister How could I reproduce it?

[2016-04-10 17:53] matteosister commented on #99
I just created a new project with mix phoenix.new --database mysql, than I created a model with mix phoenix.gen.model, and ```mix test``` gives this error. I used docker-compose, mysql is on 5.7.

If you want I can start a new project and share the repo...

[2016-04-10 20:17] liveforeverx commented on #99
@matteosister Seems, like it hasn't recompiled by me. I'll release new version today.

[2016-04-10 20:25] #101 closed

[2016-04-10 20:37] liveforeverx commented on #99
@matteosister now it is fixed and released.

[2016-04-11 05:37] matteosister commented on #99
@liveforeverx many thanks! :heart:

[2016-04-11 14:27] uzleepito commented on #101
Hi, the app seems to be responding now, but I can see this on the console now and then:

[code]

It seems to happen 10-15 seconds after the last HTTP request arrived, so I guess this is some sort of a timeout issue.

[2016-04-11 17:32] somlor opened #106 "(FunctionClauseError) no function clause matching in Mariaex.Protocol.ping_handle/3"
Since upgrading to `v0.7.2`, I've been periodically seeing this error:
[code]

Have not quite identified a pattern yet, but any ideas? Please let me know if you need more information, or need any kind of help investigating or fixing. Thanks!

[2016-04-11 20:10] liveforeverx commented on #106
Hi! Thanks for reporting!

How long are typical queries before it happens, which are running? Which MySQL/MariaDB version do you use?

Can you set `:idle_timeout` to `60000` on adapter configuration to test if that changes something.

[2016-04-11 20:18] liveforeverx commented on #106
Ok, I have found.

[2016-04-11 20:27] somlor commented on #106
@liveforeverx Fantastic. FWIW I am seeing the error in development on OSX MySQL version `5.6.29` and in staging on AWS Aurora which uses a forked version of MySQL `5.6`, not sure exact point version. I tried setting `idle_timeout: 6000` in dev, but still saw the error after some time. Let me know if there's anything else I can do.

[2016-04-11 20:33] liveforeverx commented on #106
Yes, please, recheck with version: `0.7.3`

[2016-04-11 20:39] somlor commented on #106
Ok, I've upgraded and have tested hitting several endpoints. I believe previously error would have happened by now, but so far so good. :+1: Thanks!

[2016-04-11 20:42] liveforeverx commented on #106
@somlor Thanks!

[2016-04-11 20:43] liveforeverx commented on #101
Please update to `0.7.3` ( related #106 )

[2016-04-11 20:44] #106 closed

[2016-04-12 11:32] paulgithub opened #107 "BIT(1) type cannot load `<<1>>` as type :boolean"
When reading a boolean value from the database which is represented as a BIT(1) in the MySQL server (version 5.5.29) and using this value in model as a :boolean The following error is displayed:

** (exit) an exception was raised:
    ** (ArgumentError) cannot load `<<1>>` as type :boolean
        (ecto) lib/ecto/schema.ex:982: Ecto.Schema.load!/3
        (ecto) lib/ecto/schema.ex:974: anonymous f

[2016-04-12 12:13] liveforeverx commented on #107
@paulgithub I think, further it should be fixed in ecto. By matching <<1>> and <<0>> to boolean in MySQL adapter.

CC: @josevalim @ericmj @fishcakez Ideas?

[2016-04-12 12:14] josevalim commented on #107
it is alright to solve it in the Ecto adapter.

[2016-04-12 12:20] liveforeverx commented on #107
@paulgithub Can you open issue in ecto, please?

I think, it should be added here: https://github.com/elixir-lang/ecto/blob/master/lib/ecto/adapters/mysql.ex#L109-L111 (I thought, that I have changed it for ecto 2.0, but can't find changes there).

@paulgithub Can you apply this patch to ecto v1.1 and test?

[code]

[2016-04-12 14:05] paulgithub commented on #107
I can confirm that the patch above works.

I have opened a new issue on the ecto github page: https://github.com/elixir-lang/ecto/issues/1366

Thanks for the speedy response.

[2016-04-13 19:44] uzleepito commented on #101
It's perfect.  Thanks for fixing it!

[2016-04-13 21:39] uzleepito opened #108 "parsing of server version number fails"
When connecting to MySQL, the server's version number is parsed via the standard Elixir function: `Version.Parser.parse_version/2`.  This returns `:error` when attempting to parse "5.1.46sp1-log".  I believe versions should be parsed some other ways here.

[2016-04-14 23:52] kennyballou opened #109 "Latest mariaex seems incompatible with ecto 2.0 beta"
After upgrading both `mariaex` to `0.7.3` and `ecto` to `2.0.0-beta.2`, I'm
receiving the following in my phoenix project's `mix test` (during the
compiling phase):

    lib/ecto/adapters/mysql/connection.ex:3: warning: undefined behaviour function child_spec/1 (for behaviour Ecto.Adapters.SQL.Connection)
    lib/ecto/adapters/mysql/connection.ex:3: warning: undefined behaviour function execute/4

[2016-04-15 14:34] liveforeverx commented on #109
`(UndefinedFunctionError) undefined function Ecto.Adapters.MySQL.Connection.child_spec/1` - please use ecto 2.0 from master, I think, that the ecto with MySQL is not released yet as beta.

[2016-04-15 14:35] #109 closed

[2016-04-15 14:40] kennyballou commented on #109
Yep, totally worked, thanks!

[2016-04-18 12:59] liveforeverx commented on #108
@uzleepito I will implement own stable version parsing for version numbers.

[2016-04-18 13:39] liveforeverx commented on #108
@uzleepito fixed in `v0.7.4`

[2016-04-18 13:39] #108 closed

[2016-04-25 19:32] iaddict opened #110 "INSERT params with special chars to latin1 table does not work properly"
When inserting utf8 special chars to a latin1 encoded database with params, the stored param value gets garbled. It looks like the utf8 bytes get inserted instead of latin1 encoded chars.

Following an example iex session:

[code]

[code]

The used Mariaex version is 0.7.4 with Elixir 1.2.4 and a MySQL Community Server version 5.6.21.

Many thanks for your great work!

I hope my explanation helps

[2016-04-25 21:09] liveforeverx commented on #110
@iaddict Hi! Default charset is `utf8`, you can configure charset via: `charset` options (see: `Mariaex.start_link`). Can you try configure it to use charset latin1 and checks if it helps?

[2016-04-25 21:27] iaddict commented on #110
Hi! Thanks for your quick reply.

Actually it makes things worse. Because now the connection is set to latin1, the utf8 strings are in both cases saved garbled to the database. If I understand the `SET NAMES utf8` right, it means which charset is used by the client. MySQL saves things accordingly.

Reading (SELECT ...) from a legacy database with all data latin1 encoded and the default setting of

[2016-04-26 20:46] iaddict commented on #110
@liveforeverx Hi again! I did some more investigations and found the following.
There is a mysql driver for Erlang which I did check. It uses a different field type to encode binary params, see: https://github.com/mysql-otp/mysql-otp/blob/master/src/mysql_protocol.erl#L745

I switched on line query.ex#103 the field type from : field_type_blob to :field_type_var_string, so the line reads:
[code]

T

[2016-05-02 11:08] liveforeverx commented on #110
@iaddict We need to do the same, always use `:field_type_var_string` until nobody runs in problem with it. And not analyse string in runtime from performance reasons.

[2016-05-09 11:29] #110 closed

[2016-05-13 11:22] liveforeverx opened #114 "Better handle initial handshake."
Depends on capabilities, some parts of packet are not present, mariaex should be able to handle this too.

[2016-05-15 07:32] josevalim commented on #78
Right. In this case he just wants to use `like` as it is case insensitive for MySQL.

[2016-05-26 00:14] ishikawa opened #116 "VARBINARY data type affected by character set"
As of this [commit](https://github.com/xerions/mariaex/commit/f30200ca63fc1abe4e022ca13115f5e8c781be41), `VARBINARY` data type is now affected by database character set.

My environment:

- Elixir 1.2.4
- mariaex 0.7.5
- MySQL 5.7.12

I created 2 databses for tests.

[code]

### utf8

In utf8 database, the result seems to be correct.

[code]

### latin1

However, in latin1 database, binary data `<

[2016-05-31 14:01] liveforeverx commented on #116
Thank you.

Hm, I need to rethink, what would be better solution.

Are you passing binary data with ecto or directly with `mariaex`?

[2016-06-01 23:45] ishikawa commented on #116
@liveforeverx

I use `echo`. But passing binary data with `mariaex` is same result.

[2016-06-06 13:43] jordan0day commented on #116
I'm having what seems like it might be a related issue -- querying a table with a BINARY(16) column is failing. Example:

[code]

Querying the same database with `emysql` is working, however:
[code]

I've tried creating the mariaex connection with the charset specified as utf8 (which is the default according to the code) and without specifying the charset. I start emysql with the encoding set to u

[2016-06-06 15:25] jordan0day commented on #116
So thinking about this a little bit more, I connected with charset set to "latin1":
[code]

And the query works.

So I'm really not sure what's going on here -- the table has a default charset of utf8, so not sure if this is something weird with the binary data being encoded when it shouldn't be?

Here's the table def:
[code]

[2016-06-07 11:58] belaustegui opened #119 "Support for JSON data type"
Quoting from the Ecto documentation (emphasis mine):

Since recent versions of MySQL have a [JSON data type](https://dev.mysql.com/doc/refman/5.7/en/json.html) I am wondering if this is still the case.
How does the _mariaex_ adapter store fields defined with a type of _map_ in the database? Are they stored using the JSON type or in a text field?

[2016-06-07 12:16] liveforeverx commented on #119
@belaustegui they are stored in text field, as I know

Should `mariaex` natively support maps and by themself decide, if it should store as map or text or should it be done in adapter @josevalim @ericmj @fishcakez ?

[2016-06-07 12:35] josevalim commented on #119
I don't think it is the adapter responsibility to "fake" types it does not
really support.

On Tuesday, June 7, 2016, Dmitry Russ(Aleksandrov) <notifications@github.com>
wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-06-08 07:53] ericmj commented on #119
@josevalim Do you mean it's not the drivers responsibility? It's
exactly the adapters job to fake types that exist in ecto but not on the
underlying database. The driver doesn't know it's being used by ecto.

On Tuesday, 7 June 2016, José Valim <notifications@github.com> wrote:

--
Eric Meadows-Jönsson

[2016-06-08 08:48] josevalim commented on #119
Let me expand what I mean by "fake". I think it is the job of the adapter to translate between Elixir and database types. I don't think it is the job of the adapter to provide types that do not really exist in the database. :)

[2016-06-08 08:50] liveforeverx commented on #119
@ericmj @josevalim So, this is possible to have in `mariaex` for MySQL => 5.7.9 https://github.com/xerions/mariaex/blob/json_support/test/query_test.exs#L568-L570

Means, it is possible to natively support json, which were added to new version of MySQL

[2016-06-08 08:52] liveforeverx commented on #119
@ericmj @josevalim Since, we need to support older versions of MySQL, somewhere need to be a switch, for using of json natively or as fake type. My big question, where and how to make this switch.

[2016-06-08 08:54] ericmj commented on #119
@josevalim said he thought faking was a bad idea so I think you should just
let it crash or raise an error message win older versions of th db.

On Wednesday, 8 June 2016, Dmitry Russ(Aleksandrov) <
notifications@github.com> wrote:

--
Eric Meadows-Jönsson

[2016-06-08 08:55] josevalim commented on #119
@liveforeverx that's a reasonable feature then. You can support maps and encode it accordingly depending if the feature is enabled or not. I would honestly support this feature as a connection option such as `encode_maps_as: :text | :jdoc`

@ericmj if the database supports it in recent versions, I think it is reasonable for the adapter to handle it then for older versions otherwise the MySQL versi

[2016-06-08 08:59] ericmj commented on #119
I don't think faking json is a necessary feature. Ecto supports postgres
versions that do not have Kano support and would just crash when using :map.

Checking the database version from the adapter shouldn't be an issue as
long as the driver exposes it as an API.

On Wednesday, 8 June 2016, José Valim <notifications@github.com> wrote:

--
Eric Meadows-Jönsson

[2016-06-09 11:07] belaustegui commented on #119
That is exactly what I was thinking when I opened the issue, to leverage the JSON data type that is already provided by MySQL :)

If I can help in any way please tell me.
Thanks!

[2016-06-11 07:19] josevalim commented on #107
We can close this one. :)

[2016-06-11 07:19] josevalim commented on #78
We can close this one.

[2016-06-11 07:20] josevalim commented on #73
We can close this one. It is an old question and questions should generally be sent to the mailing list/stak overflow (and not the issues tracker :D).

[2016-06-11 07:21] josevalim opened #121 "Support serialization level when starting a transaction"
Here is the equivalent Postgrex commit: https://github.com/ericmj/postgrex/pull/199/files

[2016-06-11 11:14] josevalim commented on #121
We are no longer supporting this in Ecto and Postgrex due to nested transactions. Sorry for the false alarm. :)

[2016-06-11 11:14] #121 closed

[2016-06-11 13:17] josevalim opened #122 "Please depend on db_connection "~> 1.0.0-rc" and release a new version"

[2016-06-15 10:32] liveforeverx commented on #122
Released as `v0.7.6`.

[2016-06-15 10:32] #122 closed

[2016-06-23 14:18] chvanikoff commented on #66
@liveforeverx It seems the time is now: Erlang 19 is released with experimental support for UDS: http://erlang.org/download/otp_src_19.0.readme

[2016-06-27 06:41] cbarratt commented on #86
Currently hitting the same problem with latest mysql on the date insertions in tests!

http://stackoverflow.com/questions/37292628/1292-incorrect-date-value-0000-00-00

[2016-07-02 06:56] dotdotdotpaul opened #124 "Geo Functions?"
There's a hex called [geo](https://github.com/bryanjos/geo) that adds structs for representing OpenGIS models, like Point and Polygon, and has defined macros that generate the OpenGIS SQL fragments.

The macros all seem to work, but I don't see how I can extend Mariaex support in the geo lib to handle the structs as parameters (so you could pass a %Geo.Point{coordinates: {x,y}} argument in, and ha

[2016-07-06 08:55] rixmann opened #125 "storing big files has varying results"
When storing (relatively) big binaries in mariadb (ca. 11MB) i can observe varying errors:

`** (Mariaex.Error) [tcp] recv failed with: :closed`
or
`** (Mariaex.Error) (1210): Incorrect arguments to mysqld_stmt_execute`

occasionally the storing works fine (ca. 1 out of 20 tries so far)...

The datatype which is used for the data field is a custom one:

[code]

any hint or solution would be greatl

[2016-07-07 12:59] liveforeverx commented on #124
Hi! I'm for second possibility, make it more extensible.

Probably, we need to check, how postgres handles it and make something in the way.

[2016-07-07 13:00] #78 closed

[2016-07-07 13:01] #73 closed

[2016-07-07 13:06] liveforeverx commented on #124
I have checked, documentation, there exists `ProtocolBinary::MYSQL_TYPE_GEOMETRY`, till it is not extensible in MySQL / MariaDB, we should support this types natively.

[2016-07-07 13:25] liveforeverx commented on #124
This 2 functions are relevant: https://github.com/xerions/mariaex/blob/master/lib/mariaex/query.ex#L100 and this: https://github.com/xerions/mariaex/blob/master/lib/mariaex/query.ex#L194 for decoding/encoding.

Probably we need extensibility for decoding from Point to generic Geometry type and back.

[2016-07-07 13:25] liveforeverx commented on #125
The same size value or different value?

[2016-07-07 13:28] rixmann commented on #125
i tested with ~11MB and ~17MB, in both cases both errors occured.

[2016-07-07 14:02] #107 closed

[2016-07-13 12:06] umatomba opened #126 "connection problems with mysql 5.7.13"
[code]

mariaex 0.4.4

[2016-07-14 14:56] shlonny commented on #79
+1

[2016-07-31 13:44] geofflane opened #128 "no function clause matching in Mariaex.Protocol.handle_error/3 if SQL has whitespace at beginning or end"
Using Mariaex 0.7.7, MySQL 5.7.13
Running against a legacy schema that has a lot of columns that need to be quoted (not sure if that's related). I run the following query which works in MySQL. But using Mariaex and/or Ecto it fails with an error.

[code]

The error is the following:

[code]

[2016-08-01 14:29] geofflane commented on #128
It seems like it has something to do with the heredoc string.
If I strip all of the tabs, newlines and spaces from around the SQL then it works.

e.g.
[code]

[2016-08-01 15:46] liveforeverx commented on #128
Yes, probably I need to update documentation, that query should be sanitize before executing.

That is done for performance reasons. You can always sanitize it in client code, when you need, but if you sanitize it in a library code, than it will always have this performance drawback. By the way, ecto should generate queries without whitespaces...

Anyway, crash is not a good description for a prob

[2016-08-15 08:12] littlekid opened #129 "econnrefused - solved"
Hi!

I got the **econnrefused**..

Solution:
Enabling network access to mysql on my local computer. It was turned off (using mamp).
(Only access through socket was enabled.)

It was suggested to me that I share this in an issue, so here I am.  :)

[2016-08-24 16:36] tmadankumar opened #130 "mariaex is not supporting local languages while inserting into Mysql"
I am trying to insert one indian language string into mysql database using Ecto Repo.insert, but in database that value of that column showing like ???????????????

while creating database in mysql i am using ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci; for unicode support, and inside elixir model i am using column type as string( field :displayname, :string )

I got confirmation fr

[2016-08-30 19:50] chvanikoff commented on #129
There's an option `skip-networking` which forbids access to MySQL via TCP and only allows it via Unix socket. This option is turned on by default and all MySQL users have to disable it (comment out) when working with MySQL via Mariaex.
Supporting Unix domain sockets is a [known issue](https://github.com/xerions/mariaex/issues/66), but it's very new and experimental feature to Erlang and therefore

[2016-09-01 05:17] stonely2012 commented on #130
i have problem

[2016-09-04 07:11] chvanikoff commented on #34
@liveforeverx hi, I've got into situation where I need this feature. Probably, I could help with it but before I dive into sources, can you provide any additional info you have about it?

[2016-09-05 09:23] stonely2012 commented on #130
I change line 103 of query.ex
from
do: {0, :field_type_var_string, << to_length_encoded_integer(byte_size(bin)) :: binary, bin :: binary >>}
to
do: {0, :field_type_blob, << to_length_encoded_integer(byte_size(bin)) :: binary, bin :: binary >>}

It's work now. But it's conflict with issue 110 (https://github.com/xerions/mariaex/issues/110)

[2016-09-16 10:50] #130 closed

[2016-09-16 20:35] jdangerx opened #132 "Error when sending text queries"
I'm trying to send an unprepared text query to a MySQL database. I'm creating a query, `%Mariaex.Query{type: :text, statement: "SELECT 1, 2, 3"}`, as a test - and it's causing an error:

[code]

So it looks like we have a pattern match fail here:
https://github.com/xerions/mariaex/blob/master/lib/mariaex/protocol.ex#L394-L399

But why would the packet being sent back have the wrong pattern?

[2016-09-16 21:24] jdangerx opened #133 "MySQL handshake auth_plugin_data2"
Hi, I'm using Mariaex to connect to Sphinx Search, which implements the MySQL 4.1 protocol. For the `auth_plugin_data2` field of the initial handshake, Sphinx sends a non-NUL terminated string (`string.fixlen`, as specified [here](https://dev.mysql.com/doc/internals/en/connection-phase-packets.html#packet-Protocol::Handshake)). This causes a pattern match in [line 94](https://github.com/xerions/ma

[2016-09-20 14:11] whatyouhide opened #136 "TRUNCATE queries"
It seems like this query causes problems:

[code]

It may have to do with the [commands that don't return rows](https://github.com/xerions/mariaex/blob/b1df978efc130ce8995552dd5c32ed596ee871df/lib/mariaex/query.ex#L143-L145)? I didn't try to change those at all, but I will try to look into this myself if I have some time :).

[2016-09-22 12:46] Wijnand opened #137 "Encoding issues with prepared statements and database with utf8_unicode_ci collation"
All our databases have utf8_unicode_ci collation and since the upgrade to Ecto2.0 we are having a lot of errors in our queries. I traced it down to mariaex but I am not sure what is wrong here.

I created a gist which illustrates the issue. The query in this gist is very bogus but it should not fail with this error. https://gist.github.com/Wijnand/7ac718d56a440a4bfe0920fad35e3a00

The collation_co

[2016-09-27 20:15] jdangerx opened #140 "Tests leave effects!"
I noticed when running tests that we don't actually reset the test database after our tests run! This is kind of funky, since it means the order of our tests matters - for example, by creating a table "test" in one set of tests, a different set of tests (that also wanted to create the table "test") would break. Depending on which tests run first, different ones would break. I can also go into mysq

[2016-09-28 12:41] stephankaag commented on #137
Same issue overhere

[2016-09-30 06:46] squareduck commented on #137
This change introduced the issue
https://github.com/xerions/mariaex/commit/f30200ca63fc1abe4e022ca13115f5e8c781be41

Maybe we can find a compromise to satisfy both use cases.

[2016-09-30 07:17] squareduck commented on #137
So the option is already there: https://github.com/xerions/mariaex/commit/b1df978efc130ce8995552dd5c32ed596ee871df

Need to specify binary encoding in query options.
Default is ```:field_type_var_string``` and we need ```:field_type_blob```

[2016-10-10 09:57] nulian commented on #116
@jordan0day You sure your database wasn't in utf8mb4 had a problem like this while querying a binary. It works when the data is in a database with utf8 type. But the query fails when the database is on utf8mb4.

[2016-10-10 11:03] liveforeverx commented on #137
@Wijnand

Year, this is strange, depending on type. Did it help `binary_as: :field_type_blob`?

[2016-10-10 11:08] #136 closed

[2016-10-10 11:08] liveforeverx commented on #136
Thanks!

[2016-10-10 11:09] liveforeverx commented on #133
Thanks!

[2016-10-10 11:09] #133 closed

[2016-10-10 14:42] Wijnand commented on #137
Yes, that does help so it is possible to work around this (thanks @squareduck for your investigation).

However I do feel that option should not be the real fix in this case.

[2016-10-10 20:26] bvjebin opened #141 "Exceptions while running trigger in Ecto Migrations"
I am running into an issue where in after running triggers via ecto migrations, match error exception is thrown. Issue is reported [here](https://github.com/elixir-ecto/ecto/issues/1740) in the ecto repo. This is blocking the migration to be registered in the database. Can you guys see what is going wrong?

[2016-11-02 22:37] JamesLavin commented on #136
Before laying out my similar issue (same error... different cause), I want to thank the Mariaex developers for building Mariaex!

I hit the same error but with a different use case that this solution doesn't fix because I'm trying to create a table (DDL), not truncate one. If I add query to @commands_without_rows, I'll create problems for standard queries.

I ran `Ecto.Adapters.SQL.query(XYZ.Repo,

[2016-11-07 18:24] shantiii commented on #52
I'm currently working with Sphinx where `MATCH` with `FACETS` returns multiple result sets. I believe some prepared statements in vanilla mysql can also return multiple result sets as well.

[2016-11-07 22:42] shantiii commented on #52
I'm currently working on a fix for this. The approach I'm taking is to return a list of `%MariaEx.Result{}` when there is more than one result set detected ( the `0x08` status flag is set ).

[2016-11-08 19:01] driv3r opened #146 "Whats the current state of mariaex project?"
From what I can see there are some enhancements suggested by @josevalim about a year ago, milestones doesn't seem to be used anymore - so where the project stands at the moment? Any kind of road map?  any need for PRs?

Best,
Leszek

[2016-11-08 20:25] fishcakez commented on #23
This has been supported since DBConnection was used.

[2016-11-09 13:33] liveforeverx commented on #146
@driv3r Hi! Project is stable and used by different people and companies in production, including myself. No, there is no any kind of roadmap, I have tried to establish roadmap in a times, where some decisions were changed/implemented quicker as roadmap and the roadmap was always outdated. Absence of roadmap was not a problem yet. PRs are welcome. For bigger PRs, better to start from issue and dis

[2016-11-09 13:33] #146 closed

[2016-11-13 15:37] fishcakez opened #148 "Query struct should not store types"
Mariaex never uses types stored in the query struct. Instead it encodes parameters using Elixir types and lets MySQL cast the terms, getting a database error if it can not. On decode it uses the column description that is sent immediately before the rows. By storing and checking these types we introduce errors where we don't need to.

This raise was introduced in https://github.com/xerions/mariaex

[2016-11-14 20:58] jordan0day opened #149 "Proper way to handle mariaex/dbconnection process?"
I've asked this question over on [elixirforum](https://elixirforum.com/t/how-to-properly-use-mariaex-dbconnection/2383) but I thought I might check here as well. I'm just curious what the correct pattern for handling Mariaex processes is for a long-running application, not using Ecto.

Should I start up the Mariaex process (via `Mariaex.start_link/1`) and then hold on to that pid, using it for all

[2016-11-14 23:10] #149 closed

[2016-11-14 23:11] jordan0day commented on #149
Sorry, loaded up on cold medicine today and wasn't thinking clearly nor parsing the existing code clearly.

[2016-11-15 22:45] tbash commented on #141
@bvjebin stumbled upon this in the ecto repo. If you're are still having an issue with this the, the solution may be to separate the triggers into two separate `execute` functions. I know that this is a thing: "cannot insert multiple commands into a prepared statement"

[2016-11-16 22:02] myronmarston opened #151 "Periodically getting `FunctionClauseError` from `Mariaex.Messages.decode_msg(<<5>>, :running)`"
I periodically get this in my logs:

[code]

Looks like there's some message mariaex isn't able to handle?

[2016-11-30 15:00] marcelotto opened #153 "FunctionClauseError in anonymous fn/2 in Mariaex.LruCache.take_oldest/1"
I'm having problems with the execution of a raw sql query on a legacy MySQL db for migration purposes.

[code]

First, I couldn't run the query at all, but was getting a `handle_close/3 not implemented` error. When I noticed some recent changes on Mariaex relating to `handle_close`, I did upgrade to Mariaex 0.8.0, which fixed this problem.

Although the query can be executed now, it fails after 49

[2016-12-01 18:30] myronmarston commented on #151
We're also getting similar function clause errors with `<<6>>`:

`Mariaex.Messages.decode_msg(<<6>>, :running)`

These errors are happening fairly often (a few times per hour) and I'd love to see this fixed.  I can pitch in, if guidance could be provided.  I don't really know the MySQL protocol so I'm not sure what to do with this kind of message.  Is it safe to add a `decode_msg` definition that

[2016-12-05 11:45] #153 closed

[2016-12-05 11:54] liveforeverx commented on #151
Hi! @myronmarston Do you have any test case with a mock data, how to reproduce it or it really happen somewhere spontaneously during long run?

[2016-12-05 14:57] myronmarston commented on #151
Unfortunately, I have no idea how to reproduce this.  I've only ever seen it in our production logs, and it's not clear what queries were running when this happens.

[2016-12-05 15:20] liveforeverx commented on #151
@myronmarston Can you check the logs, please and check, if the stacktraces always points to some disconnect routine ( `Mariaex.Protocol.disconnect` ) or there is something else involved?

[2016-12-05 15:23] myronmarston commented on #151
Do you mean check to see if `(mariaex) lib/mariaex/protocol.ex:217: Mariaex.Protocol.disconnect/2` is always in the stacktrace when this error occurs?

[2016-12-05 15:26] liveforeverx commented on #151
@myronmarston For example, yes.

[2016-12-05 15:50] marcelotto commented on #153
Your fix solved the problem. Thank you very much.

[2016-12-05 15:53] liveforeverx commented on #153
@marcelotto Thank you for reporting!

[2016-12-05 17:50] myronmarston commented on #151
I looked through our prod logs and it looks like that line is always part of the stack trace.

[2016-12-06 20:33] vinzee opened #158 "(DBConnection.ConnectionError) connection not available because of disconnection"
My program -
[code]

I am using 'bechfella' to benchmark my code.
It basically runs the programs multiple times and prints the averaged results.

In my case, it runs a few iterations successfully and then throws this error -

[code]
I think this is because the connection is not being closed and max concurrent requests for mysql are reached.

Please tell me if there is any way to close the connecti

[2016-12-08 21:59] liveforeverx commented on #158
@vinzee Hi, probably it would be better, if you will reuse connection, that you start the connection in some init phase and use this connection without stopping every time, if you would like to have some real benchmark(how it will be used in application), so just because by starting of connection to your query you will add tcp-establishment connection time and authorisation.

But, if it is, what y

[2016-12-08 21:59] #158 closed

[2016-12-09 10:14] liveforeverx commented on #141
@bvjebin Is it still actual, should I try to reproduce/work on it?

[2016-12-09 10:17] bvjebin commented on #141
@liveforeverx Yes. It'd be helpful if you can work on it.

[2016-12-09 11:48] #132 closed

[2016-12-09 11:55] liveforeverx commented on #141
@bvjebin Can you create some small application, where the crashes are reproducible?

[2016-12-09 12:05] liveforeverx commented on #137
@Wijnand I do not know yet, if there exists better solution yet, because some database configuration need this and some other configuration (I have added documentation for it and marked as important in README).

I would like propose to close this issue now.

And, if you still feel, that there should be better solution, we can reopen new issue with name, like `Encoding configuration for different d

[2016-12-09 12:44] #25 closed

[2016-12-09 13:18] badr-ghatasheh opened #159 "Reaching max_prepared_stmt_count"
I'm using Mariaex (0.7.8) with Ecto (2.0.5) in the following setup:
3 Servers -> 200 connections pool size per server -> 600 DB connections in total

Under moderate traffic (~5-6k qpm), I'm getting those errors in production:

(Mariaex.Error) (1461): Can't create more than max_prepared_stmt_count statements (current value: 16382)

I'm assuming this will also increase if I decided to add a new serv

[2016-12-09 16:20] josevalim commented on #159
Hrm, why are you using a pool size of 200 per server? For a traffic of 6k qpm, 20 connections (the default) should be more than enough, unless you have really long running queries. If not that, increasing the connection pool will make things slower, as the chance of sharing a cache or having stale connections increase.

If you really believe that you need 200 connections per server, then you do wa

[2016-12-09 16:35] badr-ghatasheh commented on #159
@josevalim I'm expecting 10-15 times the throughput once the system is fully rolled out, is there a proper approach for determining the appropriate pool size?

[2016-12-09 16:40] josevalim commented on #159
@badr-ghatasheh you would have to benchmark and simulate the load you are expecting. Alternatively you can monitor the queue time, which Ecto does provide in its logs, and see if it is increasing. But if you are performing regular queries, the default of 20 should be enough.

6000 qpm (or even 10 times that) is relatively low traffic. We have run load testing on systems that would have higher thro

[2016-12-09 16:46] badr-ghatasheh commented on #159
I'll downsize the pool and check the results.

[2016-12-11 06:59] bvjebin commented on #141
@liveforeverx Just create a phoenix application or a simple Elixir application(you have to add ecto manually to the application in this case). Create a new Ecto migration using mix task(`mix gen.ecto.migration`). Replace the content with the following code and try to migrate it. You will see the issue.

[code]

[2016-12-11 13:08] badr-ghatasheh commented on #159
@josevalim dropping the pool size did both resolve the issue and relief the DB, queries throughput went down from ~630 query/s to ~95 query/s, so did CPU utilization.

Thanks a lot, closing the issue.

[2016-12-11 13:08] #159 closed

[2016-12-15 13:13] #137 closed

[2016-12-15 13:15] #23 closed

[2016-12-15 18:50] fishcakez commented on #148
This was fixed in https://github.com/xerions/mariaex/commit/eb08f78c87d10fd097d5e8f07f09b3b8182b8600.

[2016-12-15 18:50] #148 closed

[2016-12-15 18:52] fishcakez commented on #151
Its not safe to do a socket recv in the disconnect callback of DBConnection unless there's a `DBConnection.SojournError` as the first argument. The client process might be using the socket or have data in the buffer that is part of a request.

[2016-12-16 10:34] Wijnand opened #162 "per query timeouts not respected"
When running "ALTER TABLE" queries on a large table I discovered the given timeout was not respected. After 5 seconds I got an error:  Mariaex.Protocol (#PID<0.3419.0>) disconnected: ** (Mariaex.Error) [tcp] `recv` failed with: :timeout

I did not try it with a direct connection to Mariaex, in this case I perform the queries via Ecto (and thus DBConnection).
 Ecto.Adapters.SQL.query!(MyApp.Repo, "

[2016-12-28 13:39] fishcakez commented on #162
@Wijnand the issue is at: https://github.com/xerions/mariaex/blob/f4fe6f6f5f746f0ac9476e94891faf2fc915170b/lib/mariaex/protocol.ex#L1055. We should use an `:infinity` timeout here when doing a query/transactions. However we probably don't want to wait forever when handshaking or doing a `ping`. It might be helpful to see how postgrex handles this situation.

[2016-12-28 13:40] fishcakez commented on #162
To be clear an `:infinity` timeout is ok when doing queries/transactions because `DBConnection` will trigger a `disconnect`/ socket close using a timer. This will interrupt the receive.

[2017-01-03 15:43] driv3r commented on #151
We have similar issues, @fishcakez any hints how to pin point the issue?

[2017-01-03 16:01] driv3r commented on #151
After digging in a bit more I found out that we actually get one more error 2-5 seconds earlier always before this decode issue, something like:

[code]

So probably resolving this should resolve the decode issue right?

[2017-01-04 08:37] jackalcooper opened #165 "After upgrading to 0.8.1, I got this when I run mix test"
[code]

I think it's cause by Ecto and ActiveRecord have different types of schema version number. But it works fine when mariaex was at 0.7.3

[2017-01-04 23:31] fishcakez commented on #151
@driv3r the timeout issue is described in https://github.com/xerions/mariaex/issues/162 and disconnect recv is at https://github.com/xerions/mariaex/blob/f4fe6f6f5f746f0ac9476e94891faf2fc915170b/lib/mariaex/protocol.ex#L224

[2017-01-05 14:04] geofflane commented on #165
@jackalcooper Mind sharing your solution to this? I just saw this on a couple of apps running with Elixir 1.4 and Mariaex 0.8.1 as well.

[2017-01-06 02:11] jackalcooper commented on #165
Currently I just downgrade Mariaex for now. But I can tell you the real solution to fix it. I read somewhere Jose once said you can change the schema version number's type to int from ActiveRecord side because ActiveRecord is OK with both string and int for this. I didn't do this because my boss won't allow me.

[2017-01-06 02:14] jackalcooper commented on #165
I think I should reopen this because I just found it's not just me encountered this.

[2017-01-11 13:47] cristianberneanu commented on #162
I encountered the same problem and fixed it by setting the `timeout` value in the `start_link` call.

[2017-01-11 17:14] eterumorph opened #166 "Prepared statement needs to be re-preparated"
** (MatchError) no match of right hand side value: {:error, %Mariaex.Error{action: nil, connection_id: nil, mariadb: %{code: 1615, message: "Prepared statement needs to be re-prepared"}, message: nil, reason: nil, tag: nil}}

I get this error after executing a query, the problem is the first time i ran my querys everything was ok, after some times to run i get the error.

I start the connection wi

[2017-02-01 20:28] preciz opened #168 "Timeout when running migration on a large table"
I have a simple migration that I would like to run, just adding a boolean column.
The table is around 16M rows, I already upped the timeout value to 12_000_000.
The error is:

[code]

How should one deal with this situation?

[2017-02-02 11:26] paulgithub opened #169 "0.8.1 incompatibility with ecto 2.1.3 (Solved NOT an issue)"
When running a test using mariaex 0.8.1 and ecto 2.1.3 I get the following error:

     stacktrace:
       (elixir) lib/string/chars.ex:3: String.Chars.impl_for!/1
       (elixir) lib/string/chars.ex:17: String.Chars.to_string/1
       (ecto) lib/ecto/adapters/sql.ex:653: Ecto.Adapters.SQL.log/4
       (db_connection) lib/db_connection.ex:1177: DBConnection.log/6
       (ecto) lib/ecto/adapters/my

[2017-02-03 12:59] paulgithub commented on #169
Actually the above was not the issue.

I was in an umbrella project and the creation of a new application within the project caused the issue. Even though the new application had no reference with the application which contained the Ecto code in the initial post.

The solution is to force a recompilation of all the code before running the tests again. This can be achieved by explicitly changing th

[2017-02-06 10:20] #169 closed

[2017-02-07 19:03] gilbertojuniortelgo opened #171 "Script - No connection to insert data"
I am currently creating a .exs script,
To communicate with Mysql.
The following script below.

ExUnit.start

defmodule PreparedQueryTest do
  use ExUnit.Case, async: true
  import Mariaex.TestHelper
  setup do
    {:ok, p} = Mariaex.Connection.start_link(username: "user", password: "password", database: "elixir_1", hostname: "192.168.10.90")
    Mariaex.query(p, "INSERT INTO elixir_1.formulario VA

[2017-02-08 16:11] NobbZ commented on #171
Neither your App, nor its dependencies get started when in test env, so you have to do it yourself. In your testhelper it should be sufficient to add `Application.ensure_started(:mariaex).

I do not know this library though but have come because of your post on the elixirforum: https://elixirforum.com/t/problem-script-creation/3602

[2017-02-08 18:07] gilbertojuniortelgo commented on #171
unsuccessfully.

[2017-02-08 18:24] NobbZ commented on #171
I took a closer look. There is no mariaex.testhelper in this application. Have you created it on your own? If not it can't work...

[2017-02-08 18:37] gilbertojuniortelgo commented on #171
In fact,
I took a look at the script https://github.com/xerions/mariaex/blob/master/test/query_test.exs

I took as an example to create my own script.

Steps I've taken
1 - I added the following line at the mix.exs

Def deps
   [{:mariaex, "> = 0.7.3"}]
End

2 - After "mix.deps.get"
3 - I played my script into the test folder
4 - I ran the "mix test" command
5 - I tried to run the script with the

[2017-02-08 18:40] NobbZ commented on #171
`Mariaex.TestHelper` is a module private to this applications test environment, used only for testing this application, you do not need it. Replace that with an `import` for your applications `*.TestHelper`

[2017-02-08 18:52] gilbertojuniortelgo commented on #171
Would you have any such scripts?

For example.

[2017-02-08 18:53] NobbZ commented on #171
A TestHelper you mean? It should have been generated when running `mix new` for that project. Since your questions are not related to mariaex in any kind but about elixir and its tooling in general, I would be very fine if you could close here and continue at elixirforum.com

[2017-02-08 19:00] gilbertojuniortelgo commented on #171
Thank you very much for your help.
I'm having a hard time connecting to the MySQL database.
But I will be studying each module even more.
I'll close it here, and pass directly there.

[2017-02-15 01:16] alexbredy commented on #124
+1
Any updates?

[2017-02-26 17:08] belaustegui commented on #119
I am interested in this issue and I could try to send a pull request to fix it myself. I would only need a small guideline about where to look into and where to put the implementation.

I've been looking a bit into the elixir-ecto/postgrex code to see how the PostgreSQL adapter handles this, but I am not having luck finding it :disappointed:

[2017-02-28 02:14] mgwidmann commented on #119
You should know that the driver crashes when it encounters a true JSON column because this line does not have a definition for `245`: https://github.com/xerions/mariaex/blob/master/lib/mariaex/messages.ex#L82
(generated and reproducible by adding https://github.com/mgwidmann/flames to any phoenix project using MySQL)
[code]

You can find lots of reports from PHP developers about this, like this on

[2017-03-01 17:09] mgwidmann commented on #119
Also just curious, why isn't this branch in a PR? https://github.com/xerions/mariaex/tree/json_support

[2017-03-24 12:52] vegabook opened #174 "Connecting to memsql with binary protocol off"
Is there a way to turn the binary protocol off in mariaex? Memsql uses the same drivers as mariadb/mysql, but does not support the binary protocol. They do have an option to turn it on, but it is in beta, and it is unreliable. I am advised by them to turn off the binary protocol.

Here is a screenshot of the error:

![screenshot_20170324_125018](https://cloud.githubusercontent.com/assets/3780883/2

[2017-04-01 02:31] chenxsan commented on #79
Is this implemented? @liveforeverx

[2017-05-01 17:13] myronmarston commented on #151
We are still getting this periodically (usually a time or two a day) and it would be great to see this get fixed.  I often jump into open source projects we use to fix issues we face but I don't really understand how to fix this one.  Anything I can do to help?

[2017-05-03 19:14] sokser opened #180 "DNS Caching is causing failures on long running apps"
We are using Amazon Aurora to handles our databases. The setup involves a master and a salve with the our elixir app writing to the master. Periodically if there is a problem with one of the instances the master and slave may change. During this period we would expect the dns in mariaex to refresh itself and update the ip it is trying to hit. However we notice that even after several days, the con

[2017-05-31 07:59] joeppeeters opened #182 "Prepared statements are never closed."
Mariaex is creating a lot of prepared statements when used in combination with Ecto. All queries are prepared before execution, but in most cases never closed. This mainly becomes a problem in a multi-tentant setup with a separate database for each tenant. Each query gets prepared for every tentant database.

In our case the with over 500 tenants and multiple connections to the database, each quer

[2017-05-31 10:49] fishcakez commented on #182
When Mariaex is used with Ecto many select queries using the DSL are prepared with a "name". This name is unique based on the DSL's AST. When a named query is prepared is remains "forever", only unnamed queries go in the LRU cache. Postgrex has a way to turn off named queries but Mariaex does not. Hopefully in Ecto 2.2 the SQL drivers will share a query cache (via DBConnection) and this will be co

[2017-06-14 07:43] #174 closed

[2017-06-16 11:53] umatomba commented on #126
works in latest versions

[2017-06-16 11:53] #126 closed

[2017-06-16 11:53] surik commented on #114
See #184

[2017-06-16 12:14] surik commented on #86
The reason is [default SQL_MODE on > 5.7](https://dev.mysql.com/doc/refman/5.7/en/sql-mode.html):
[code]
These tests should be adopted.

[2017-06-16 13:22] surik commented on #86
See #187

[2017-06-16 14:22] surik commented on #86
Travis is green so I close it.

[2017-06-16 14:22] #86 closed

[2017-06-20 22:30] dbhobbs commented on #162
I believe I'm seeing this issue surface when modifying the schema of a larger table (~700_000 records) in an Ecto migration.

The `alter table(:table_name) do ... end` statement will timeout (even though Ecto migrations have a timeout of `:infinity`). This causes the migration to fail, however, because of implicit commits (https://dev.mysql.com/doc/refman/5.7/en/implicit-commit.html) the schema al

[2017-06-20 22:30] dbhobbs commented on #168
I'm seeing this as well.

May be related to #162.

[2017-06-22 16:20] preciz commented on #168
I used this workaround, you might find it temporarily useful:

[code]

To run it for example:
`MIX_ENV=prod DB_TIMEOUT=infinity mix ecto.migrate --env=prod`

[2017-06-30 14:53] mindreader opened #188 "lru cache breaks use statements"
[code]
I tried setting cache_size: 0 in start_link, which is absolutely fine for my purposes, but then I get errors when it tries to immediately garbage collect.  Alternatively, when you perform a use statement, it could blow away the cache.

I'd be happy to submit a pull request if you would have me fix it in a particular fashion.

[2017-07-07 01:53] hykw opened #189 "fail to fall back to mediumtext specified :default"
As you know, change() in a migration file define the column with mediumtext, when you specify size: 65535 like below.
[code]

It doesn't work well when default: is also specified like following.
[code]
or
[code]

The error message, when specified the :default.
[code]

It occurred in this environments:
- mariaex: 0.8.2
- ecto: 2.1.4
- elixir: 1.4.2
- Erlang/OTP: 19.2

[2017-07-09 15:40] samphilipd opened #190 "Support for Geometry column types"
It seems like there is currently no support for geometry column types in Ecto. I looked into doing this myself and have got it working but it requires changes to both mariaex and ecto.

I am happy to submit this as a PR when it is ready. But I am wondering about the best way to coordinate releases of both ecto and mariaex so that this works.

[2017-07-10 09:24] mtokioka commented on #189
TEXT column cannot be assigned a default value.

[2017-07-10 09:46] hykw commented on #189
Oh, thank you. I see the reason.
BTW, how about to change the error message to "BLOB/TEXT column can't have a default value", or like that?

[2017-07-15 16:22] seeekr opened #193 "~/.my.cnf values should not override phoenix config!"
Hi there,

first off, thanks for building this. Here's an issue I've found when creating and trying to run my first phoenix/elixir/maria app:

Created standard app with `mix phoenix.new --database mysql app`, didn't change anything, latest versions of Elixir, Erlang, Phoenix (just installed). Fetched deps and compiled.

Created a mysql server with empty root password. Tried to run `mix ecto.create

[2017-07-15 16:57] seeekr opened #194 "error with mariadb:10.2: `recv` failed with: :timeout"
Running `mix ecto.migrate` with just a simple, example User model and nothing else on a new phoenix app gives me this error with MariaDB 10.2.x consistently:

[code]

Works fine with MySQL 5.6.x. Running latest versions of everything. Mac OS X 10.11, Docker for Mac used for running MySQL/MariaDB.

[2017-07-15 17:01] seeekr commented on #194
And works fine with MariaDB 10.1.x and MySQL 5.7.x as well. With 10.2.x it returns timeout error consistently.

[2017-07-15 18:31] surik commented on #194
Do you use mariaex 0.8.2 from hex.pm?

[2017-07-15 19:03] seeekr commented on #194
Yes, I am using 0.8.2 from hex.pm.

I'm new to the Elixir ecosystem. I've now defined the dependency like this to fetch from git:

`{:mariaex, git: "https://github.com/xerions/mariaex", branch: "master", override: true}`

The error then does not occur and instead `mix ecto.create` and `mix ecto.migrate` both work fine.

[2017-07-15 19:06] surik commented on #194
Good. The new version of mariaex will be released soon.

[2017-07-15 19:08] surik commented on #193
Provide more info, please. Do you run db via docker? What about `MYSQL_ALLOW_EMPTY_PASSWORD`? Can you show your `config.exs` and `dev.exs`?

[2017-07-15 19:36] seeekr commented on #193
DB running in Docker for Mac. Elixir stuff on the host directly.

docker-compose.yml:
[code]

config.exs:
[code]

dev.exs:
[code]

In my `~/.my.cnf` if I comment out

[code]

the `password` line, then things work as expected. With a password in there set I get the error I described.

[2017-07-15 19:37] seeekr commented on #194
Thanks, great to hear!

[2017-07-15 19:37] #194 closed

[2017-07-15 20:25] surik commented on #193
Are you sure that with setting default password in `~/.my.cnf` you can start DB? Can you check the logs for this line `MySQL init process failed.`?

[2017-07-15 21:21] seeekr commented on #193
Why would I not be able to start the MySQL server if I only have `[client]` values in my `~/.my.cnf`? (As well as the server being started basically on a different host (Docker for Mac is running on a hypervisor, not on the host).) They do not affect each other.

[2017-07-15 21:34] surik commented on #193
I tried to run the same setup but stuck here: https://github.com/docker-library/mariadb/blob/master/10.2/docker-entrypoint.sh#L100. This is the reason why I ask.
For me, it looks that it is not possible to use this docker image with default password for the client in `my.cnf`.

[2017-07-15 22:17] seeekr commented on #193
Oh, you're trying to reproduce the issue? You need nothing else but Docker and Docker Compose installed, then use the docker-compose.yml, maybe modify the port in there if you don't like the 3309, and execute `docker-compose up -d` and the server will come up.

OK, and just to clarify:
What my local ~/.my.cnf does it set a default password **for the client tools I'm using, like the mysql command**

[2017-07-15 23:14] surik commented on #193
Now I see. Check this https://github.com/elixir-ecto/ecto/blob/v2.1/lib/ecto/adapters/mysql.ex#L139. Ecto 2.1 uses `mysql` command to setup database. So the command looks like ` MYSQL_PWD="" mysql --user root --host localhost --port 3306 --protocol=tcp  --silent --execute ...` with new phoenix application.

[2017-07-16 20:20] seeekr commented on #193
Ok, that's unexpected. I'm wondering why they do it that way. It would seem logical to me to just use mariaex and consistently use that to talk to MySQL, no matter when or where. MySQL cli tools should also not be required... Though I see that they provide `structure_dump/2` and in there implicitly rely on how `mysqldump` works... It wouldn't be very hard though to just implement that as a bunch o

[2017-07-16 20:30] seeekr commented on #193
And about the actual password issue here: Why do they have this weird password handling there? Why don't they pass the password as they pass all other options as well? Why pass it as an env var? So that MySQL won't complain about passing password on the command line? (https://github.com/elixir-ecto/ecto/blob/v2.1/lib/ecto/adapters/mysql.ex#L301)

[2017-07-16 20:33] seeekr commented on #193
Alright, you guys are way ahead of me :D

[2017-07-17 08:37] surik commented on #193
So close this issue because it is not related to `mariaex`.

[2017-07-17 08:37] #193 closed

[2017-08-01 23:07] jeffrom commented on #52
Hello, just wondering if there are any updates on this issue. Thanks!

[2017-08-07 19:40] nichochar commented on #128
This is an issue I also ran into. It's not the triple quotes, it's the whitespace, you can reproduce with a whitespace at the origin. @liveforeverx I think it's fine that the library decides to push the optimization to the client, but I think the error message could be more clear....

I had a hard time debugging this issue with the `"unsupported parameterized query` message...

[2017-08-07 19:43] fishcakez commented on #128
This issue should be resolved by #183.

[2017-08-24 09:37] kzemek commented on #116
I'm having the same problem as @jordan0day and with the same "solution" - switching to latin1, which fixes the binary but is not acceptable in general. With utf8 charset the binary value saved in the database is very different from the binary value I'm saving.

[2017-10-19 05:01] fishcakez opened #202 "TCP or SSL errors should raise (or return) DBConnection.ConnectionError"
The error handling logic for a query error are different to a connection error and we should allow a user to `rescue` these in different places without having to pattern match on key/values of a single struct. Note that its already possible for `DBConnection.ConnectionError` to be raised because of how `DBConnection` handles pooling.

[2017-10-19 05:12] fishcakez opened #203 "Return nice error from `handle_prepare` if unknown column type in row description"
It would be good to return a nice error when we don't know how to decode a value, instead of crashing in obscure way after query executed. This means we won't execute a binary query if we don't think we can decode it.

For example (copied from https://github.com/xerions/mariaex/issues/119#issuecomment-282920738):
[code]

[2017-10-19 05:20] fishcakez opened #204 "Encode binary query parameters using prepared definition types"
This will allow us to:
- Encode integers using less data
- Automatically encode binaries correctly per parameter (fixing https://github.com/xerions/mariaex/pull/198)
- Encode maps as JSON when appropriate (improving https://github.com/xerions/mariaex/pull/201)
- Raise `ArgumentError` on bad parameter types to improve error handle logic for users who wish to rescue SQL errors but not logic errors l

[2017-10-19 05:29] fishcakez commented on #188
@mindreader I think we require `cache_size: pos_integer` so that you would need to use `1` rather than `0`?

However if we wanted to support `0` I think we would need to store the query's reference  in the state after a `handle_prepare` when `DBConnection.prepare_execute` was called.  In that case `DBConnection` guarantees to call `handle_execute` or `handle_close` so we would always cleanup the q

[2017-10-19 06:12] fishcakez commented on #180
There is not any DNS caching but once a connection is opened it will stay open so if master becomes slave it will stay pointing to slave. I've opened https://github.com/elixir-ecto/db_connection/issues/99 to add a feature that should help this, or similar, situation heal after a period of time. It may also help us GC some unused cache queries, particularly insert_all ones in Ecto.

[2017-10-19 06:17] fishcakez commented on #182
There is no shared query cache in Ecto 2.2 but it would be good to add Postgrex's `prepare: :unnamed` feature to Ecto, and support disabling the LRU cache in Mariaex, see #188.

I will investigate disabling the Mariaex LRU cache by default in Ecto 3.0 because Ecto already gives names to queries it thinks are worth caching, so those don't go in the Mariaex LRU cache. Its also possible that https://

[2017-10-19 12:55] mindreader commented on #188
I faintly remember I had to use `cache_size: 2`, or else there would be a runtime error.

[2017-10-24 16:42] atomkirk opened #205 "error with on_conflict in transaction"
I'm doing this:
[code]
and if this runs outside a transaction it works great. If I run it in a transaction, like during tests, it gives me this error:

[code]

Any ideas on this?

[2017-10-24 17:05] atomkirk commented on #205
[code]

actually its when tests are async. Any thoughts on how to fix?

[2017-11-08 16:58] #119 closed

[2017-11-08 19:26] liveforeverx commented on #190
Merged to master. Would be releases in a next version.

[2017-11-08 19:26] #190 closed

[2017-11-13 11:06] bolv88 opened #207 "I found no method to close connection after query."

[2017-11-13 16:13] fishcakez commented on #207
@bolv88 the underlying framework does not support stopping a pool or connection directly. Currently must use supervisor to stop it, or exit signal. One of the supported pools doesn't support stopping directly so I'm unsure if we can get good behavior.

[2017-11-14 01:45] bolv88 commented on #207
@fishcakez  Got it , thanks!

[2017-11-14 01:45] #207 closed

[2017-11-15 03:44] capeskychung commented on #162
Have someone use mongodb have this problem : "Timeout while waiting for migration commit"

[2017-11-21 00:41] mdwaud opened #208 "Unable to connect over SSL when upgrading OTP from 19.3 to 20+ (with workaround)"
## Problem
I'm connecting to a Amazon MySQL RDS instance. My config is:
[code]
 This works with OTP 19.3, however upgrading to 20+ gives me:
`Mariaex.Protocol (#PID<0.1066.0>) failed to connect: ** (Mariaex.Error) failed to upgraded socket: :closed`

## Workaround

Explicitly set the protocol to TLS version 1.1 using the `versions` option:
[code]

Not sure the right way to handle this long term. I

[2017-11-21 21:05] rosacris opened #209 "Variables are being binded in the wrong order"
Hi,

I am struggling with a query whose parameters are being bind in the wrong order and I suspect it is a bug in Mariaex.

The query in question is:
`   Prediction
    |> join(:inner, [p], m in Market,
         m.'UUID' == ^e.market_id and p.'IDMarket' == m.'IDMarket')
    |> Repo.update_all(set: [IDActivated: true])`

and the resulting SQL statement is
`UPDATE tabPrediction AS t0 INNER JOIN tabM

[2017-12-05 20:02] kyleaa opened #211 "Support plugin auth and mysql_clear_password for AWS IAM authentication"
AWS added support for connecting using short-lived IAM credentials instead of long-lived username/passwords. This is implemented using the MySQL Pluggable Authentication Protocol and requires the token be sent in cleartext.

http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/UsingWithRDS.IAMDBAuth.Connecting.AWSCLI.html

https://dev.mysql.com/doc/refman/5.5/en/cleartext-pluggable-authentication

[2017-12-15 03:56] archSeer commented on #180
@fishcakez we're running into similar issues. Aurora initiates a failover, and when that happens they actually restart all the nodes -- we get ~16 errors
[code]
followed by almost 2000 ConnectionErrors (across a bunch of nodes)
[code]

After that it seems to stabilize and reconnect, but any writes we do trigger a read-only issue.

[code]

I think elixir-ecto/db_connection#99 would be a good first

[2017-12-15 04:27] fishcakez commented on #180
When the tcp socket closes we redo the DNS lookup when trying to create a fresh connection, on every connection attempt. I am not sure if there isn't anything we could do in mariaex to help here because we are relying on the OS's DNS lookup.

ETA on next release is anytime next month and it is planned to include but I don't think anyone is working on this issue.

[2017-12-15 05:32] archSeer commented on #180
We'll experiment turning off DNS caching on the erlang level; there's a `cache_refresh` flag -- although the default is 1 hour, and our nodes have been running for days, it should have expired by then.

[2017-12-15 05:51] fishcakez commented on #180
The `cache_refresh` flag should have no effect because Elixir/Erlang uses the OS's DNS by default - unless configured otherwise.

[2017-12-15 05:53] archSeer commented on #180
In that case, if OS's DNS was used, why would rebooting the application (and not the whole node) fix the problem? Maybe the reconnect is faster than the AWS failover

[2017-12-15 06:02] fishcakez commented on #180
A reconnect is attempted frequently to begin with (and then slows down, this is configured with `backoff_min`, `backoff_max`, `backoff_type`) so I suppose its possible that DNS didn't propagate before master was restarted as slave, and Mariaex remains connected to slave.

I think you could try patching Mariaex to disconnect, instead of just error, on the code: 1792 error. This would be the simples

[2017-12-29 19:36] atomkirk commented on #205
I'm using mysql and if I remove the `@reserved_prefix MARIAEX_` stuff, then I get this error:
[code]

[2017-12-29 19:41] atomkirk commented on #205
this is the full error with stack trace:

[code]

And again this only happens on tests with `async: true`. Any ideas what might be wrong?

[2018-01-11 18:13] jessiahr commented on #208
I ran into this issue as well, workaround solved my problem for now.

[2018-01-17 23:38] lmarlow commented on #151
We are also seeing this after a timeout talking to MySQL.

[code]

[2018-01-18 02:15] klynton commented on #208
In case anyone else comes across this: I ran into this issue and tried using ```versions: [:'tlsv1.2']``` but it didn't work. Using 1.1 only does work.

[2018-01-24 10:27] sh4t4d33p opened #212 "Use fields from Mariaex.Result struct"
I have written an Elixir script which sends a MySQL query to my database using the Mariaex library. The query works perfectly. Now, I want to use the num_rows field returned in the Mariaex.Result struct in my script. The code snippet is something like this:-
[code]
I know the if-condition does not work properly. The goal of the condition is to check whether num_rows is 0 or not. I know the problem

[2018-01-24 10:45] surik commented on #212
You probably need `case`:

[code]

This is really a basic language question and not related to `mariaex`. I would suggest you read [Introduction to Elixir](https://elixir-lang.org/getting-started/introduction.html) or use `beginners` channel in the official [Slack group](https://elixir-slackin.herokuapp.com) for such questions.

[2018-01-24 11:12] sh4t4d33p commented on #212
I'm sorry, but your code does not work. Like I said, the problem is with the condition and not the if-construct. The condition I have mentioned is not the correct way to return the number of rows affected. The output will always be erroneous. That's why I posted this issue.

[2018-01-24 11:56] surik commented on #212
What kind of query do you send? What do you have as `Mariaex.Result`?

[2018-01-25 07:42] sh4t4d33p commented on #212
I am sending a simple update query. The query is working perfectly, because the changes are reflected in the database. The number of rows affected should be 1. However, in the iex, I am getting the following result:
`%Mariaex.Result{columns: nil, connection_id: nil, last_insert_id: nil, num_rows: nil, rows: nil}`
Its shows the num_rows is nil. Therefore, there is something wrong with the Mariaex.R

[2018-01-25 08:37] surik commented on #212
[code]

[2018-01-25 08:48] surik commented on #212
I did a simple update query with MariaDB 10.2.12 and mariaex 0.8.3:

[code]

Could you please provide minimal test example?

[2018-01-25 10:28] sh4t4d33p commented on #212
The output is fine when I write queries through a terminal. But I am running an Elixir script which is making the queries. Also in the same script, I am printing the Mariaex.Result like this:-
`IO.puts Kernel.inspect(%Mariaex.Result{})`
The number of rows affected should be 1, but instead I get the following output:-
`%Mariaex.Result{columns: nil, connection_id: nil, last_insert_id: nil, num_rows:

[2018-01-25 10:44] surik commented on #212
This is correct:
[code]

Are you expecting `Mariaex.Result` as a shared data structure which changes after each query call?  Do you assign the result of `Mariaex.query/2` to some variable in your script?

[2018-01-25 11:31] sh4t4d33p commented on #212
I thought the Mariaex.Result would be different after each call. No, I haven't  assigned the result of `Mariaex.query/2` to any variable. Could you please show me how to get the updated result of my queries?

[2018-01-25 11:32] surik commented on #212
Like this

[2018-01-25 11:40] surik commented on #212
Like this:

[code]

I'm closing this because it is not related to mariaex.

[2018-01-25 11:40] #212 closed

[2018-02-01 18:29] atomkirk commented on #182
Yeah we're seeing this a lot too. And when we look at the processes of our mysql server, we see tons of sleeping processes. Is that a result/related?

[2018-02-01 18:53] fishcakez commented on #182
@atomkirk I don't think this issue would cause an increase in mysql processes. Rather I think that would rather be the result of using a high `pool_size` or `pool_overflow`.

[2018-02-01 18:57] atomkirk commented on #182
Ok, but this is the error we're getting, so you think we're actually hitting the logical prepare statement limit because we're allowing too many connections? Any idea why there would gradually be a growing number of sleeping processes, all connected to our elixir instances using mariaex? (until we get the max prepared stms error?)

We don't specify max_pool. Whats the default? Whats a good max?

[2018-02-01 20:13] fishcakez commented on #182
@atomkirk ah sorry, so yes it could be related.

* Each connection prepares statements independently so on the database it is number connections multiplied by number of prepared statements
* A query is either named or unnamed (by default it is unnamed)
* Each connection may prepare up LRU cache size (default 100) unnamed queries implicitly
* Each connection can prepare unlimited number of named qu

[2018-02-02 17:41] blackham commented on #116
+1 charset: "latin1"

I'm inserting some binary data it was going bad.

Before setting the charset:
`file_data: "????\x00\x10JFIF\x00\x01\x0....`

After setting charset: "latin1"
`file_data: "\xFF\xD8\xFF\xE0\x00\x10JFIF\x00\x....`

Question now is what happens when I need to insert some utf8mb4 emojis somewhere else?

[2018-02-06 18:17] michaelst commented on #182
@fishcakez to help clarify the growing number of processes. We have an autoscaling instance group, most we ever have is 4 instances connecting to mysql. We have noticed that sometimes after the old scaled instances are killed, that the processes connecting to the db still exist.

[2018-02-11 04:06] tkooger opened #214 "Error when query returns empty string """
** (MatchError) no match of right hand side value: ""
    (mariaex) lib/mariaex/coder.ex:215: Mariaex.Coder.Utils.length_encoded_string/1
    (mariaex) lib/mariaex/messages.ex:198: Mariaex.Messages.decode_column_definition_41/1
    (mariaex) lib/mariaex/messages.ex:227: Mariaex.Messages.decode/2
    (mariaex) lib/mariaex/protocol.ex:1111: Mariaex.Protocol.msg_decode/2
    (mariaex) lib/mariaex/pro

[2018-02-12 09:22] liveforeverx commented on #214
Is there any reproducing query, which I can use?

[2018-02-12 13:19] tkooger commented on #214
On my end its a stored procedure call what the procedure produces is n
number of rows with this structure.

<int>, <int>, <text>, <text>

So I don't know why your lib receives an empty string.

On Mon, Feb 12, 2018 at 4:22 AM, Dmitry Russ(Aleksandrov) <
notifications@github.com> wrote:

--
Tim Kooger

The early bird may get the worm, but the second mouse gets the cheese.

[2018-02-12 13:35] tkooger commented on #214
Also the last text field in the result set can be like 3000 characters.

On Mon, Feb 12, 2018 at 8:19 AM, Tim Kooger <tkooger@gmail.com> wrote:

--
Tim Kooger

The early bird may get the worm, but the second mouse gets the cheese.

[2018-02-12 14:04] tkooger commented on #214
Also that last text field is an xml fragment.....

On Mon, Feb 12, 2018 at 8:35 AM, Tim Kooger <tkooger@gmail.com> wrote:

--
Tim Kooger

The early bird may get the worm, but the second mouse gets the cheese.

[2018-02-13 15:30] liveforeverx commented on #214
@tkooger

1) Which version of MySQL / MariaDB do you use?
2) Could you provide minimal example of a procedure and how you use it for reproducing the issue?

[2018-02-13 21:09] tkooger commented on #214
Mysql 5.7.18

Here is a stored proc you can use that seems to reproduce the problem.

DELIMITER $$
DROP PROCEDURE IF EXISTS `testProc`
$$
CREATE DEFINER=`root`@`localhost` PROCEDURE `testProc`(
OUT _msg varchar(1024),
    _client_id int
)
-- CALL testProc(@msg,0);
BEGIN
    SET _msg='';

    DROP TEMPORARY TABLE IF EXISTS __test_table;
    CREATE TEMPORARY TABLE __test_table (

[2018-02-14 16:14] tkooger commented on #214
sorry I forgot to add this.

here is my code for the main module.

defmodule DBTest do
alias Test.Repo

def getData do
Ecto.Adapters.SQL.query!(Repo, "call testProc(?, ?)", ["", 1])
end
end

2018-02-13 16:09 GMT-05:00 Tim Kooger <tkooger@gmail.com>:

--
Tim Kooger

The early bird may get the worm, but the second mouse gets the cheese.

[2018-02-14 19:50] liveforeverx commented on #66
Support added in `8.4` and `master`

[2018-02-14 19:50] #66 closed

[2018-02-14 19:51] #114 closed

[2018-02-17 09:11] josevalim commented on #165
THis is probably because your database has a migration table where the id is a string but Ecto migration table expects it to be an integer. It is not related to MySQL at all. Dropping your database if possible or picking a different migration table for Ecto should fix it.

[2018-02-17 09:23] josevalim commented on #209
What is your Ecto version? It is most likely this is an Ecto bug, so you should try to update to the latest.

[2018-02-19 20:39] kpanic opened #217 "ping_handle does not handle errors"
Hi, I discovered this behaviour in mariaex. I used in a test repo version `0.8.4`

This issue https://github.com/elixir-ecto/postgrex/pull/258/files seems to be similar.
Was mentioned by @fishcakez on IRC

[code]

[2018-04-20 10:21] jonasrichard opened #221 "Deploy 0.9.0 into hex.pm"
I see that now this library supports the Elixir 1.3 dates, but it would be use to download it through hex. I have seen that the changes are 7 months old, probably it is stable enough to release them under a new version.

[2018-04-20 16:00] fishcakez commented on #221
I think there are a couple of bugs to fix and completion of JSON support before a 0.9. If you need date support I would suggest using git.

[2018-04-23 08:03] jonasrichard commented on #221
Ok, then I close this issue. I just wasn't sure why this time+type thing is blocked here.

[2018-04-23 08:03] #221 closed

[2018-05-08 06:39] inderjit23 opened #222 "mariaex error"
mix ecto.create
** (Mix) The database for Myapp.Repo couldn't be created: an exception was raised:
    ** (RuntimeError) Connect raised a CaseClauseError error. The exception details are hidden, as
they may contain sensitive data such as database credentials.

        (mariaex) lib/mariaex/protocol.ex:1155: Mariaex.Protocol.abort_statement/3
        (mariaex) lib/mariaex/protocol.ex:227: Mariaex.P

[2018-05-16 19:06] vans163 opened #223 "leaks connections"
Connections to database grow and grow and grow and grow, please implement a simple monitor on the parent pid and graceful close.

[code]
[code]

pid is dead here, the connections should not hang.

https://github.com/xerions/mariaex/blob/a0aa98b77636070c93c08f06fe40aa092470551c/lib/mariaex/connection/tcp.ex#L3

If socket is not in active mode, perhaps process termination does not close it.

[2018-05-16 23:44] fishcakez commented on #223
The process will exit if its parent exits due to the link, could you show a more complete example?

[2018-05-17 11:57] vans163 commented on #223
@fishcakez will it close the tcp_socket tho?

[2018-05-17 12:43] fishcakez commented on #223
Yes they close because the gen tcp port is linked to the process or the SSL connection monitors the process. This is fundamental feature.

[2018-05-17 12:43] #223 closed

[2018-05-17 17:34] vans163 commented on #223
@fishcakez WHy did you close this lol? Did you even test what I submitted as the bug report??

[code]
Now run
[code]
1000

Now run
[code]
Now run
[code]
2000

Clearly not a bug right? WOrking as intended.

[2018-05-18 04:13] fishcakez commented on #223
@vans163 this is working as intended and is not a bug. I was confused by your first example as spawned process is exiting with reason normal so sends a normal exit signal to its child Mariaex processes. The Mariaex processes are not trapping exits so as part of how Erlang/OTP works as a fundamental feature, the child ignores the normal exit reason and continues to run. This is independent of activ

[2018-05-19 09:55] rebing commented on #222
I have the same error after upgrading to MySQL 8.0

[2018-05-20 12:41] vans163 commented on #223
@fishcakez I love how bugs get labelled as "feature / working as intended" after a long explanation. Cheerio.

[2018-05-20 16:18] liveforeverx commented on #223
@vans163 This is not a bug in mariaex, this is how Erlang and pretty every OTP compliant processes will work, please reread the answer from fishcakez and try to understand.

I give you practical example:

[code]

Than you will see:

[code]

But, if I will modify your code with error reason(that linking kills dependent process), than:

[code]

Than, afterwards, you will get:

[code]

This is how BE

[2018-05-23 12:04] vans163 commented on #223
The problem here is if you have a simple HTTP server, where the HTTP request opens a connection to the DB, queries, then gets reply. You leak connections. You cant throw an error or client wont get reply.

So you now need to go through the hassle of wrapping mariaex into a handle_call gen_server for no reason, adding an extra layer of abstraction.

[2018-05-25 05:52] lucas-nelson commented on #205
@atomkirk we've just hit this same error and can't work out the *why* of it. Did you end up discovering a reason and/or a solution?

[2018-05-25 11:50] atomkirk commented on #205
The ecto docs mention that using async: true in tests is unreliable with mysql. It advises removing async: true so thats what we do.

https://hexdocs.pm/ecto/Ecto.Adapters.SQL.Sandbox.html

[2018-06-12 12:50] acrolink commented on #149
@jordan0day Would you mind what you have done eventually? Open and close connections, or using some global pid to do subsequent queries?

[2018-06-13 14:45] jordan0day commented on #149
I ended up using a global pid running under a supervisor. For anyone else looking at this, this blog post (linked in the elixirforum thread) is very similar to how I'm using it (scroll down to 'For mariaex, we need to...'):
https://www.amberbit.com/blog/2018/6/12/executing_raw_sql_queries_in_elixir/

[2018-06-13 15:15] jeroenbourgois opened #224 "Inserting large polygons"
Hi

We are migrating an existing PHP/MySQL web application to Elixir/Phoenix. A part of the application deals with geometry and polygons. After hitting some bumps we got most of it working. We could create and edit clusters (Polygon) in the app. However, once we imported the existing dataset we got errors parsing the Polygon data in `mariaex`. It seems like whenever the polygon gets too big, the p

[2018-06-13 20:19] pierot commented on #224
I have been testing this as well and have found some clues:

Firstly, the function definition that doesn't match, and should is:
[code]

Secondly, it is failing on the following part in the pattern matching.
[code]
I know the [specification states that type information is 4 bytes](https://dev.mysql.com/doc/refman/5.7/en/gis-data-formats.html#gis-wkb-format), but if I run
[code]
I see this informat

[2018-06-22 15:21] alex88 opened #226 "FunctionClauseError when connecting to a mysql db on azure"
I'm having the same issue as the OP [here](https://elixirforum.com/t/mariaex-handshake-error-with-azure-database-for-mysql/13330):

[code]

Mysql version is `5.7.21`, protocol version is 10

[2018-07-11 09:28] pierot commented on #222
We occasionally run into the same error.

[2018-07-17 08:41] Hokutosei commented on #222
I thought I was the only who is having the same error while following the tutorial using `mysql  Ver 8.0.11 for Linux on x86_64 (MySQL Community Server - GPL)` but everything seems to be working fine if I use `MariaDB 10.3`

[code]

[2018-07-17 10:15] Kitton commented on #222
I can't find this info anywhere, but looks like currently mariaex doesn't support MySQL 8.0.x? Can anyone from maintainers confirm it?

[2018-08-08 14:16] johansja opened #228 "Geometry is master branch but not released to Hex.pm"
I am wondering what is preventing the another release with the Geometry changes included. If there is, perhaps it can be listed out so people can help out on that.

[2018-08-16 16:06] Pomyk opened #229 "error when using cache_size = 1"
With cache_size = 1 I get the following error:

[code]

[2018-08-17 11:05] Pomyk opened #230 "error on 2nd execution of prepared statement"
On second execution of a prepared statement the connection gets aborted, mysql increases 'Aborted clients' status variable and logs:

180816 13:39:30 [Warning] Aborted connection 3434103 to db: 'xxx' user: 'xxx' host: 'x.x.x.x' (Got an error reading communication packets).

Tested on MariaDB 5.5 and latest 10.3

[2018-08-28 19:47] kpanic commented on #217
Closing the issue since the related PR was merged

[2018-08-28 19:47] #217 closed

[2018-08-28 22:25] andrelip opened #231 "Can't create more than max_prepared_stmt_count statements (current value: 16382)"
I'm getting this error an production and I need to restart the container everytime to make it work.
`(1461): Can't create more than max_prepared_stmt_count statements (current value: 16382)`
 Everytime I do a simple query it increases by 1 even if it is the same query. The number never drops. Any clue?
[code]

[2018-08-29 08:37] Pomyk commented on #230
After some more debugging I think it isn't tied to prepared statements but to connection pool. Looks like connections that overflow the pool are not closed properly and mysql logs it as aborted connection.

[2018-09-11 09:10] sigu commented on #222
Seems like it, while running a gitlab CI task it kept failing on the same but after downgrading to `mysql:5.7` now everything is working as expected

[2018-09-20 20:48] KrisLamote opened #237 "Deprecation messages with Erlang/OTP 20 - Elixir 1.5.3"
Hello,
While compiling a project with a mariaex dependancy I get some deprecated messages for mariaex. The original project is (still) running with: Erlang/OTP 19 and Elixir 1.4
In order to get things upgraded I bumped my stack to: Erlang/OTP 20 and Elixir 1.5.3. Withh these versions I get:

**mix deps.get**
...
`mariaex 0.8.4`
...
`* Getting mariaex (Hex package)`
...

**mix deps.compile**
...
[c

[2018-09-24 08:39] josevalim opened #238 "Finish migration to DBConnection 2.0"
* [ ] Test execute errors while using cursors
* [ ] Test that transaction status is updated for more query result packets

[2018-10-03 13:49] wojtekmach commented on #204
Unfortunately this is not possible, MySQL doesn't return types of the params, see: https://bugs.mysql.com/bug.php?id=92627

cc @josevalim

[2018-10-05 20:59] b3k commented on #222
MySQL 8 changes the default authorization plugin, to wokraround you need to to start MySQL with parameter: `--default-authentication-plugin=mysql_native_password` or include this in your `my.cnf`:
[code]

[2018-10-10 08:52] slientgoat commented on #231
hi @andrelip! I meet the problem too.Are you resolve?

[2018-10-11 14:55] fishcakez commented on #162
For DBConnection drivers we should always pass `:infinity` to socket receive and rely on DBConnection to handle the timeout when not inside `connect/1`. Inside `connect/1` requires the driver to handle timeouts. #239 is an improvement but we are still not doing the correct thing.

[2018-10-16 07:50] nulian commented on #231
Is the same as #182

[2018-10-25 14:45] archan937 commented on #182
This PR should solve this issue: #242

I already got this working with Ecto 2.2.10. Just add `prepare: :unnamed` to your repo config:

[code]

😄

[2018-10-26 17:52] michaelst commented on #151
This error has been happening very frequently for us, 186 times in the last 24 hours. This is the stack trace we get:

![](https://d.pr/i/2WIOyE+)

[2018-11-16 00:36] Tyler-pierce opened #246 "handle_handshake exceptions out on odd username circumstances"
This happened on windows but not linux (couldn't tell why).  When in a skip_database scenario and not passing the unneeded opt username, the protocol.ex line in handle hanshake  :unicode.characters_to_binary(opts[:username]) errors out (presumably on nil) with an argument error.  Passing the opt username: "" fixed it.

Not urgent, I can put a PR up next week if you like, to address it

[2018-11-18 15:16] thawatchai commented on #162
@cristianberneanu Could you give me more details what you've done in the following?

Thank you very much.

[2018-11-18 18:19] cristianberneanu commented on #162
Somthing like this: `{:ok, connection} = Mariaex.start_link(parameters ++ [timeout: :timer.hours(1)])`

[2019-01-03 11:09] nulian opened #248 "version 0.8.5 not released"
Version 0.8.5 is added to the changelog in the branch but never released.
It also seems the mysql 8 fixes are never release in the 0.9 branch either.

[2019-02-12 13:34] jablan commented on #248
ping @liveforeverx ?

[2019-02-13 08:40] liveforeverx commented on #248
Right, I wanted to solve this https://github.com/xerions/mariaex/pull/243#issuecomment-446887426, but didn't got to it atm. It is my last todo before release.

So, will try to do it in nearest future and release.

[2019-02-13 08:42] jablan commented on #248
Thanks, that PR is exactly why we need 0.8.5, as we have a big problem with prepared statements overflow.

[2019-02-13 23:29] homanchou commented on #40
Is this problem I'm having related at all?  https://stackoverflow.com/questions/54680958/mysql-connection-error-on-a-new-phoenix-1-4-project

[2019-02-13 23:56] wojtekmach commented on #40
@homanchou Since you're using MySQL 8.0, I suspect the problem is that released Mariaex versions do not support default auth plugin on that version, caching_sha2_password. You may try Mariaex master for that. Alternatively, you can change the default auth plugin in your database to `mysql_native_password`.

You can check what's the auth plugin by running this:

[code]

If that's not it, please add

[2019-02-24 15:07] revati commented on #40
Hello, i have encountered the same issue, it seems.

- phoenix: `1.4.1`
- mariaex: `0.9.1`

Trying to connect to to mysql 8 (successfully connected with Sequel Pro)
Added `show_sensitive_data_on_connection_error: true` to Repo config.
But still get this error, while connecting to db:

[code]

Mysql have reverted to mysql 5.7 way of handling password encryption
[code]

---

*Update*

Changing `mari

[2019-03-04 01:49] ckreiling commented on #40
I'm seeing the exact same problem as @wojtekmach in an app I just spun up.

`elixir: 1.8`
`ecto_sql: "~> 3.0.5"`
`mariaex: "~> 0.9.2"`

[2019-03-07 14:48] kalymero opened #249 "ssl recv timeout on mysql/percona 5.7 connection with TLS enabled"
Environment
---
* Elixir 1.8.1
* Ecto 2/3 (all the versions)
* Mariaex latest (but all versions affected)
* OTP >= 21.2.0 (older OTP versions work fine)

Description
---
Starting from `OTP-21.2.0`, when trying to connect to a mysql instance with TLS enabled from an Elixir/Ecto application the `:ssl.recv()` call fails due a timeout with the following stacktrace:

[code]

For the test we used Percon

[2019-03-12 01:02] hauntedhost commented on #249
I'm also experiencing this same issue. Downgrading to Erlang 21.1.4 worked.

[2019-03-12 02:56] sekiyama58 commented on #248
Still not available at Hex? I personally using GitHub version directly to solve prepraed statements overflow issue, but want to move public release version.

[2019-03-19 16:28] chr1sjf0x opened #250 "Connections not properly closed on errors"
MariaEX: 0.9.1
Elixir: 1.8.1
Erlang: 21.2
Run on Alpine:3.6 (OpenSSL 1.0.2k-fips  26 Jan 2017)

In our deployment, we had an incorrect version of OpenSSL, which resulted in this error:

[code]

With the auto-recovery feature of our environment, repeated attempts to connect to the database resulted in our AWS RDS running out of connections:

[code]

Seems failures in the first code path to not resu

[2019-03-19 16:30] chr1sjf0x commented on #250
Maybe a similar root cause as [issue 230](https://github.com/xerions/mariaex/issues/230).

[2019-04-30 05:36] burnison commented on #249
After running a `git bisect` on OTP, it seems that this is related to a change in the SSL implementation:

[code]

I have been able to restore original behaviour with the following change to mariaex:
[code]

However, I am only passingly familiar with Elixir and even more unfamiliar with Erlang. As such, I do not know what implications this change may have. From what I can make of the code, it seem

[2019-05-07 18:46] chulkilee opened #252 "Invalid utf-8 byte sequences in varchar"
I have an invalid utf-8 string in varchar, and mariaex returns it as binary, not string.

- mariaex: 0.9.1
- proxysql: 1.4.12 (severalnines/proxysql:1.4.12 docker image)
- table: InnoDB / `CHARSET=utf8 COLLATE=utf8_unicode_ci`
- column: `varchar(255) CHARACTER SET utf8 COLLATE utf8_unicode_ci`

Query:

[code]

When talking to ProxySQL:

[code]

When talking directly to MySQL:
[code]

Examining the

[2019-05-09 11:40] wojtekmach commented on #252
@chulkilee hello, could you provide a bit more context what the problem is? Perhaps you can reproduce this problem with just Mariaex function calls?

[2019-05-09 18:57] chulkilee commented on #252
@wojtekmach  updated the issue description with more tests. I found that  it only happens when I talk to ProxySQL. If I run the query directly MySQL, it works. Interesting..

I don't know much details how ProxySQL handles it. Probably it's a ProxySQL bug?

[2019-05-24 07:28] IanLuites commented on #252
We actually experienced the exact same issue.

UTF issues when Mariaex connects through ProxySQL.

Unable to read existing UTF fields and when writing writes garbled `latin1`.

[2019-05-24 13:25] burnison commented on #249
Setting `active, 0` seems to have worked by coincidence, and I have proposed a change in #253 that seems to "more-correctly" address the actual underlying issue. However, I am not sure that the proposed change retains the exact same semantics as the original code and a thorough review should be done before using or merging.

[2019-06-17 12:37] StanAnsems commented on #252
It looks like we have the same problem, for now we found a workaround that works for us. we added BINARY before the field we select, update or insert:

Mariaex.query("SELECT BINARY data FROM mytable WHERE id = ?", [id])
Mariaex.query("UPDATE mytable SET data = BINARY ?, [data])
Mariaex.query("INSERT INTO mytable (id, data) VALUES (?,BINARY ?), [id,data])

Maybe this helps for finding the issue or

[2019-06-19 15:54] byronpc opened #254 "Issue with inserting points"
I tried executing this code on my local database and while the entry gets inserted, point is always NULL. Any ideas?

point = %Mariaex.Geometry.Point{srid: 0, coordinates: {1, 1}}

:ok = query(~s{INSERT INTO #{table} (id, point) VALUES (?, ?)}, [1, point])

[2019-06-26 07:59] derekkraan commented on #250
We had DB troubles this morning, resulting in the following error, which bubbled up and crashed our app eventually (even though we have designed the app to be able to function in the absence of the database).

[code]

By the time I got `show_sensitive_data_on_connection_error` turned on, the DB issues were fixed, so unfortunately I don't have more information than this. But I think there is some k

[2019-06-26 08:17] derekkraan commented on #250
I have looked at the code to try to understand what is going on here. `handshake_recv/2` is called like so on line 103: `handshake_recv(s, %{opts: opts})`
Then on line 171 this `%{opts: opts}` gets sent to `handle_handshake/3` as second parameter.
There are three function heads for `handle_handshake/3`. As far as I can see it's supposed to come out to the one first one, defined on line 202, but it

[2019-06-26 08:27] wojtekmach commented on #250
@derekkraan we had a very similar issue on myxql and I believe you're on the right track. I'm able to reproduce it like this:

[code]

[code]

eventually will crash with:

[code]

[2019-06-26 08:31] derekkraan commented on #250
@wojtekmach thanks for commenting. I will take a look to see if I can write a test case for this scenario for my PR.

[2019-06-26 08:39] wojtekmach commented on #250
Yeah, this is tricky since triggering the condition using max_connections can negatively affect other tests  and ideally you'd restore this global state after the test. I couldn't think of another way of testing this scenario so because of this we unfortunately ended up leaving this untested.

[2019-06-26 09:13] derekkraan commented on #250
The version of mariadb I'm using to test doesn't allow setting max_connections to less than 10 :joy:

[2019-06-26 09:30] derekkraan commented on #250
I added a test to the PR based on your idea @wojtekmach. Fails on master, passes in my branch. Thanks for the help, it'll be nice to get this fixed!

[2019-11-06 08:57] sigurdsa opened #257 "FunctionClauseError in Messages.decode_msg/2"
Hey, ran into this issue, seems like there is a missing match on `:running` in the decode_msg? Right before I also had some timeouts. The app processes events from a kafka queue and does some processing on each event, which can result in many requests to the DB, so the timeouts is probably just the queue overflowing.

[code]

[2019-12-11 12:22] #238 closed

[2019-12-11 12:24] wojtekmach commented on #254
Is your server MariaDB? If so, that's a bug on the server: https://jira.mariadb.org/browse/MDEV-21150. Also, see: https://github.com/elixir-ecto/myxql/issues/91.

[2020-12-30 03:40] pulzzedavid commented on #228
Wondering if there is any update on releasing Geometry datatype support.

[2021-01-06 09:33] pulzzedavid opened #260 "Time data type support for full range"
MariaDB Time data type supports '-838:59:59.999999' to '838:59:59.999999' range.
Looks like current mariaex implementation supports 24 hour range since 90:00:00 is received as 18:00:00.
Any plans to support the full Time data type range?

[2022-01-17 05:14] sahilpaudel-pe commented on #222
I am facing this intermittently with `mysql:5.7` as well, it goes away when I deploy again only to comeback again later.